<div class="pieCel">
    <div id="tituloContacto">
        <h3>Contacto</h3>
    </div>
    <p><i class="home icon"></i> Calle 116 No. 15B - 26, Oficina 505</p>
    <p><i class="call icon"></i> PBX(1) 885 08 38</p>
    <p><i class="mail outline icon"></i> coordinacionadministrativa@healthcarework.co</p>
</div>
<div class="copyCel">
   <p style="margin: 0; text-align: center;"> 2016© copyright - Health care & work by SoftPlus</p>
</div>
