<div id="banner_home"></div>
    <div class="contenedorcurculos">
        <div class="circulo1">
            <a href="{% url 'ocupacional' %}" class="item " >
                <p class="txt1">SALUD</p>
                <p class="txt2">OCUPACIONAL</p>
            </a>
        </div>
        <div class="circulo2">
            <a href="{% url 'laboral' %}" class="item " >
                <p class="txt1">MEDICINA</p>
                <p class="txt2">LABORAL</p>
            </a>
        </div>
        <div class="circulo3">
            <a href="{% url 'pyp' %}" class="item " >
                <p class="txt1">PROMOCION Y</p>
                <p class="txt2">PREVENCIION</p>
            </a>
        </div>
    </div>
</div>
