  <div class="banner_laboral">
        <div class="boxcont">
            <p class="titulo">Medicina Laboral</p>
            <div class="lineb"></div>
            <div class="circb"></div>
            <p class="parrafo">Dentro del recurso asistencial con el que cuenta HCW se encuentran médicos
            especialistas en seguridad y salud en el trabajo, optómetras, fonoaudiólogos y demás personal
            el cual ponemos a sus disposición, con el fin de dar soporte a todas sus necesidades.
            </p>
        </div>

        <div class="titulocentro">
            <h1>Servicios</h1>
        </div>
</div>

    <div class="ui container grid segment" >
        <div class="eight wide column doubling" id="imgleft">
        <%= image_tag "foto-9.jpg", size: "454x631" %>
            
        </div>
        <div class="eight wide column doubling" id="textrigth">
          <div class="infoQuienes" id="espacioblanco">
              <div class="boxlistado">
                  <p> <span> ● </span> Vigilancia medica.</p>
                  <p> <span> ● </span> Consulta Inicial.</p>
                  <p> <span> ● </span> Consulta de control.</p>
                  <p> <span> ● </span> Calificación de origen.</p>
                  <p> <span> ● </span> Consulta de control (Origen).</p>
                  <p> <span> ● </span> Calificación y consulta de control.</p>
                  <p> <span> ● </span> Participación mesa laboral UR - RU.</p>
                  <p> <span> ● </span> Auditoria concurrente UR - RU.</p>
                  <p> <span> ● </span> Participación de juntas medicas.</p>
                  <p> <span> ● </span> Acompañamiento reincorporación.</p>
                  <p> <span> ● </span> Acompañamiento reincorporación rural.</p>
              </div>
          </div>


        </div>

    </div>  
<%= render partial: "footer" %>

<script>
        $('#servicios').addClass('active');
</script>