<div class="banner_ocupacional">
        <div class="boxcont_ocupacional">
            <p class="titulo">Salud Ocupacional</p>
            <div class="lineb"></div>
            <div class="circb"></div>
            <p class="parrafo">Para la realización de exámenes de Seguridad y Salud en el trabajo,
            ofertamos propuestas que incluyen: Médicos Especialistas, Personal profesional y técnico,
            Entrega de conceptos en un tiempo óptimo. Desplazamiento al lugar, dentro del perímetro
            urbano de Bogotá con el material requerido para la realización de exámenes periódicos y
            toma de las muestras, con un mínimo de 20 pacientes diarios.
            </p>
        </div>

        <div class="titulocentro">
            <h1>Servicios</h1>
        </div>
</div>

 <div class="ui container grid segment" >
        <div class="eight wide column doubling" id="imgleft">
            <div class="sedes1" style="margin-top: 11px;" >
                <div class="boxtitulosedes">
                    <p class="titulosedes">Sedes de Prestación de Servicios</p>
                </div>
                <div class="boxlistado">
                    <p> <span> ● </span> Pepe Sierra - Avenida Calle 116 No. 20 - 05</p>
                    <p> <span> ● </span> Teusaquillo - Carrera 16 No. 34 - 08</p>
                    <p> <span> ● </span> Calle 26 - Calle 26 No. 100 - 08</p>
                    <p> <span> ● </span> Calle 80 - Avenida Calle 80 No. 116B - 35</p>
                    <p> <span> ● </span> Puente Aranda - Calle 13 No. 47 - 72</p>
                </div>
            </div>
            <br>
            <br>
            <div class="sedes2">
                <div class="boxtitulosedes2">
                    <p class="titulosedes">Sedes de Laboratorios</p>
                </div>
                 <div class="boxlistado">
                    <p> <span> ● </span> Norte - Calle 109 No. 15 - 91</p>
                    <p> <span> ● </span> Centro - Calle 19 No. 10 - 08</p>
                    <p> <span> ● </span> Calle 85 - Calle 85 No. 12 - 15</p>
                    <p> <span> ● </span> Américas - Avenida Américas No. 71A - 39</p>
                    <p> <span> ● </span> Central de Procesamiento - Calle 49 No. 13 - 60</p>
                </div>
            </div>
        </div>
        <div class="eight wide column doubling" id="textrigth">
          <div class="infoQuienes" id="espacioblanco">
              <div class="boxlistado">
                  <p> <span> ● </span> Vigilancia medica</p>
                  <p> <span> ● </span> Análisis de puesto de trabajo</p>
                  <p> <span> ● </span> Exámenes de ingreso</p>
                  <p> <span> ● </span> Exámenes de retiro</p>
                  <p> <span> ● </span> Exámenes periódicos</p>
                  <p> <span> ● </span> Exámenes médicos ocupaciones post - incapacidad </p>
                  <p> <span> ● </span> Visionaria</p>
                  <p> <span> ● </span> Optometría</p>
                  <p> <span> ● </span> Audiometría</p>
                  <p> <span> ● </span> Laboratorio clínico</p>
              </div>
          </div>


        </div>

</div>
<script>
        $('#servicios').addClass('active');
</script>