 <style>
      
        .boxcont{
            width:45%;
        }
        .titulo{
            margin-left: 20px;
            font-size:1.7em;
            color: #fff;
            padding-top: 45px;
            margin-bottom: 10px;
        }
        .parrafo{
            text-align: justify;
            font-size:1.2em;
            color: #fff;
        }
        .infoQuienes h2{
            color:rgb(81,153,219);
            margin-bottom: 0;
            margin-top: 2%;
        }
        .infoQuienes p{
            text-align: justify;
        }
        .line{
            width:22%;
            border: solid rgb(81,153,219) 1px;
            display: inline-block;
            vertical-align: top;
            margin-top: 4px;

        }
        .circ{
            width: 10px;
            height: 10px;
            background: rgb(81,153,219);
            border-radius: 50%;
            display: inline-block;
            vertical-align: top;
            margin-left: -3px;
        }
        .lineb{
            width:22%;
            border: solid rgb(254, 254, 254) 1px;
            display: inline-block;
            vertical-align: top;
            margin-top: 4px;

        }
        .circb{
            width: 10px;
            height: 10px;
            background: rgb(254,254,254);
            border-radius: 50%;
            display: inline-block;
            vertical-align: top;
            margin-left: -3px;
        }
        #espacioblanco{
            margin-top: 30%;
        }

        .ui.segment {
            position: relative;
            background: rgba(255, 255, 255, 0);
            box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0);
            margin: 1rem 0;
            padding: 1em;
            border-radius: .28571429rem;
            border: 1px solid rgba(34, 36, 38, 0);
        }
        .titulocentro{
            background: #fff;
            border-radius: 10px;
            border: 4px solid rgb(81,153,219);
            color: rgb(81,153,219);
            width: 300px;
            margin:auto;
            position: absolute;
            text-align: center;
            padding: 10px 6px;
            left: 0;
            right: 0;
            bottom: -14px;
        }
        .infoPyp{
            padding-top: 30px;
        }
        .infoPyp h3{
            font-size: 22px;
            color: #685FC8;
        }
        .infoPyp p{
            padding-left: 20px;
            font-size: 16px;
            color: #575759;
            text-align: justify;
        }
        .pieCel {
            margin-top: -90px;
        }



        @media (max-width: 1440px) {
            .titulo{
                font-size:1.4em;
                padding-top: 10px;
            }
            .parrafo{
                font-size:1em;
            }
        }

        @media (max-width: 800px) {
            .titulo{
                margin: 0;
                font-size:16px;
                padding-top: 10px;
                text-align: center;
            }
            .boxcont{
                width: 100%;
                padding: 10px 5%;
            }
            .parrafo{
                font-size:12px;
                margin: 0;
                padding: 0;
            }
            .banner{
                width: 100%;
                margin: 0;
                padding: 0;
                height: 245px;
                background-size: 600px 245px;
                background-image: url('img/banner-red.png') ;
            }
            #marcoGeneral{

            }
            .infoQuienes{
                padding-top: 10px;|
            }
            .infoQuienes h2{
                font-size: 18px;
                text-align: center;
            }
            #imgleft{
                display: none;
            }
            #textrigth{
                width: 100% !important;
            }
            #espacioblanco{
                margin-top: 0;
            }
            .line{
                display: none;
            }
            .circ{
                display: none;
            }
            .lineb{
                display: none;
            }
            .circb{
                display: none;
            }
            .infoQuienes{
                margin-bottom: 3%;
            }
            .ui.segment {
                position: relative;
                background: #FFF;
                box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
                margin: 1rem 0;
                padding: 1em;
                border-radius: .28571429rem;
                border: 1px solid rgba(34,36,38,.15);
            }
            .pieCel {
                margin-top: 0px;
            }
        }

    </style>

   <div class="banner" id="pyp">
        <div class="boxcont">
            <p class="titulo">Promoción y Prevención</p>
            <div class="lineb"></div>
            <div class="circb"></div>
            <p class="parrafo">En HCW apoyamos sus actividades de promoción y
            prevención a través de dos frentes de capacitación: Promoción de la salud y Prevención de la enfermedad:
            </p>
        </div>

        <div class="titulocentro">
            <h1>Servicios</h1>
        </div>

    </div>

   <div class="ui container grid segment" >
        <div class="nine wide column doubling" id="imgleft">
        <%= image_tag "imagen-pyp.jpg", size: "500" %>
            
        </div>
        <div class="six wide column doubling" id="textrigth" style="margin-top: 5%;" >
                <div class="infoPyp">
                    <h3>● Promocion de la Salud:</h3>
                    <p>Fortalecemos todas las actividades
                    de capacitación, información y educación continúa que
                    llevan deliberadamente a la población a la modificación o
                    reforzamiento de comportamientos, con el objeto de
                    mantener la salud, lograr nuevos estilos de vida saludable,
                    fomentar el autocuidado y la solidaridad.</p>
                </div>
                <div class="infoPyp">
                    <h3>● Prevencion de la Enfermedad:</h3>
                    <p>Con diferentes
                    capacitaciones se pretende evitar que aparezcan
                    enfermedades específicas y que a su vez se detecten
                    posibles factores que afecten a los individuos, y/o su grupo
                    familiar y social.</p>
                </div>
        </div>

    </div>
<%= render partial: "footer" %>
 <script>
        $('#servicios').addClass('active');
    </script>
