<div class="banner" id="quienes_somos">
        <div class="boxcont">
            <p class="titulo">Quienes Somos</p>
            <div class="lineb"></div>
            <div class="circb"></div>
            <p class="parrafo">Nuestra compañía cuenta con un amplio portafolio de servicios de
            medicina laboral, salud ocupacional y actividades de promoción y prevención, que
            logran mantener altos estándares de calidad en la prestación de servicios, contamos
            con un equipo de profesionales  especialistas, que a través de diferentes alianzas
            estratégicas contribuyen a mejorar la efectividad de sus servicios.
            </p>
        </div>
    
        <div class="titulocentro">
            <h1>Nuestros Valores</h1>
        </div>

</div>

 <div class="ui container grid segment" >
        <div class="seven wide column doubling" id="imgleft">
        <%= image_tag "foto-6.jpg", size: "500" %>
            
        </div>
        <div class="nine wide column doubling" id="textrigth">
            <div class="infoQuienes" id="espacioblanco" >
                <h2>Visión</h2>
                <div class="line"></div>
                <div class="circ"></div>
                <p>Para el año 2020 HEALTH CARE & WORK, será una empresa eficiente,
                reconocida en el medio por el compromiso del talento humano, la
                prestación de servicios de medicina laboral y de salud ocupacional de
                reconocida calidad, la diversificación de nuestro portafolio de servicios
                y la incursión efectiva en nuevos mercados; procurando siempre
                implementar de manera eficiente y eficaz el sistema de gestión de
                seguridad y salud en el trabajo, a través del cual se buscara la mejora
                continua, brindando a nuestros clientes un ambiente óptimo de
                bienestar para desarrollar sus labores, creando en ellos, la cultura de la
                prevención el auto cuidado y la promoción de la salud en el ámbito
                laboral.</p>
            </div>

            <div class="infoQuienes">
                <h2>Misión</h2>
                <div class="line"></div>
                <div class="circ"></div>
                <p>HEALTH CARE & WORK es una empresa dedicada a prestar servicios
                de medicina laboral y de salud ocupacional, con presencia nacional,
                través de profesionales altamente calificados para contribuir de
                manera permanente en el bienestar de los trabajadores de manera
                integral, implementando políticas de salud ocupacional en caminadas a
                fomentar el cambio principalmente de actitudes, condiciones o
                situaciones para lograr la prevención de los riesgos identificados,
                siempre buscando eficiencia, eficacia y calidad para satisfacer los
                intereses en salud de nuestros clientes.</p>
            </div>

            <div class="infoQuienes">
                <h2>Valores Corporativos</h2>
                <div class="line"></div>
                <div class="circ"></div>
                <p><b>Servicio: </b>Ofrecemos a todos nuestros clientes la mayor amabilidad, calidez y confianza cuando hacemos nuestra intervención.</p>
                <p><b>Honestidad: </b>Realizamos nuestro trabajo dirigido a las empresas con la mayor veracidad, garantizando el éxito de nuestros resultados.</p>
                <p><b>Compromiso: </b>Característica de nuestra compañía por la eficiencia y eficacia en la realización de cada una de nuestras actividades contratadas.</p>
                <p><b>Responsabilidad: </b>Valor que nos caracteriza por el cumplimiento de lo pactado entre nuestra empresa, y nuestros clientes.</p>
            </div>
        </div>

    </div>
<%= render partial: "footer" %>
     <script>
        $('#quienes').addClass('active');
    </script>