  <div class="banner_red">
        <div class="boxcont">
            <p class="titulo">Ya Somos</p>
            <div class="lineb"></div>
            <div class="circb"></div>
            <p class="parrafo">Estamos presente en 13 departamento con cobertura nacional
                en más de 15 ciudades con el objetico de poder brindarles cada dia un mejor
                servicio en más zonas de Colombia pronto seremos más SIEMPRE MEJORANDO POR USTED.
            </p>
        </div>

        <div class="titulocentro">
            <h1>Red Nacional</h1>
        </div>
</div>


 <div class="ui container grid segment" >
        <div class="eight wide column doubling" id="imgleft">
        <%= image_tag "mapacompleto.png", size:'534x552' %>
            
            <div class="listaDepartamentos">
                <p> <span> ● </span>ANTIOQUIA</p>
                <p> <span> ● </span>ATLANTICO</p>
                <p> <span> ● </span>BOLIVAR</p>
                <p> <span> ● </span>BOYACA</p>
                <p> <span> ● </span>CUNDINAMARCA</p>
                <p> <span> ● </span>HUILA</p>
                <p> <span> ● </span>MAGDALENA</p>
                <p> <span> ● </span>META</p>
                <p> <span> ● </span>NORTE DE SANTANDER</p>
                <p> <span> ● </span>RISARALDA</p>
                <p> <span> ● </span>SANTANDER</p>
                <p> <span> ● </span>TOLIMA</p>
                <p> <span> ● </span>VALLE </p>
            </div>
        </div>
        <div class="eight wide column doubling" id="textrigth">
          <div class="infoQuienes" id="espacioblanco">
              <div class="sedes1">
                <div class="boxlistado_red">
                    <p><span>Busca</span> en el Mapa</p>
                    <p>nuetra red de</p>
                    <p>Más de<span> 20 CONSULTORIOS</span></p>
                    <p>a nivel nacional en 13</p>
                    <p><span>Departamentos.</span></p>
                </div>
            </div>
          </div>
        </div>
</div>

<%= render partial: "footer" %>

<script>
        $('#red').addClass('active');

</script>