<div class="banner_red">
  <div class="boxcont">
    <p class="titulo">Ya Somos</p>
    <div class="lineb"></div>
    <div class="circb"></div>
    <p class="parrafo">
      Estamos presente en 13 departamento con cobertura nacional
      en más de 15 ciudades con el objetico de poder brindarles cada dia un mejor
      servicio en más zonas de Colombia pronto seremos más SIEMPRE MEJORANDO POR USTED.
    </p>
  </div>
  <div class="titulocentro">
    <h1>Red Nacional</h1>
  </div>
</div>


 <div class="ui container grid segment" >
   <div class="eight wide column doubling" id="imgleft">
     <%= image_tag "mapacompleto.png", size:'534x552' %>
   </div>
   <div class="eight wide column doubling" id="textrigth">
     <div class="infoQuienes" id="espacioblanco">
       <div class="sedes1">
         <div class="boxlistado_red">
           <p><span>Busca</span> en el Mapa</p>
           <p>nuetra red de</p>
           <p>Más de<span> 20 CONSULTORIOS</span></p>
           <p>a nivel nacional en 13</p>
           <p><span>Departamentos.</span></p>
         </div>
       </div>
     </div>
   </div>

   <div class="sixteen wide column doubling">
     <table class="ui celled table">
       <thead>
       <tr>
         <th>DEPARTAMENTO</th>
         <th>CIUDAD</th>
         <th>DIRECCION
         </th>
       </tr>
       </thead>
       <tbody>
       <tr>
         <td>Atlantico</td>
         <td>Barranquilla</td>
         <td>Carrera 54 No. 59 - 267 <br> Consultorio: 7. Barrio Alto Prado </td>
       </tr>
       <tr>
         <td>Santander</td>
         <td>Bucaramanga</td>
         <td>Calle 46 35A-06 OF 301 Central Park</td>
       </tr>
       <tr>
         <td>Valle</td>
         <td>Cali</td>
         <td>Calle 13# 49A-10</td>
       </tr>
       <tr>
         <td>Bolivar</td>
         <td>Cartagena</td>
         <td>Dig 31 N° 54-125 Edificio Ronda Real Segunda Etapa Piso 3 Consultorio 310</td>
       </tr>
       <tr>
         <td>Norte De Santander</td>
         <td>Cucuta</td>
         <td>Av 2E 15A- 17 Barrio Kaobos</td>
       </tr>
       <tr>
         <td>Tolima</td>
         <td>Ibague</td>
         <td>Avenida Ambala #36-60</td>
       </tr>
       <tr>
         <td>Huila</td>
         <td>Neiva</td>
         <td>Calle 18 N° 7-51 - Barrio Quirinal</td>
       </tr>
       <tr>
         <td>Risaralda</td>
         <td>Pereira</td>
         <td>Kra 14BIS #10-05 Edifico MONT BLAK</td>
       </tr>
       <tr>
         <td>Magdalena</td>
         <td>Santa Marta</td>
         <td>Kra 32 #16-13 Avenida Libertador</td>
       </tr>
       <tr>
         <td>Boyaca</td>
         <td>Tunja</td>
         <td>Kra 6 No. 48-27</td>
       </tr>
       <tr>
         <td>Meta</td>
         <td>Villavicencio</td>
         <td>Calle 33 B #37 - 45 Barrio Barzal - IPS Materno Infantil</td>
       </tr>
       <tr>
         <td>Cordoba</td>
         <td>Monteria</td>
         <td>Cra 14 No. 16 - 28 Brr Urbina</td>
       </tr>
       <tr>
         <td>Cundinamarca</td>
         <td>Bogotá</td>
         <td>
           Avenida Calle 80 #116B-35 <br>
           Kra 16 #34-08 <br>
           Avenida Calle 116 #20-05 <br>
           Calle 13 # 47-72
         </td>
       </tr>
       </tbody>
     </table>
   </div>

</div>

<%= render partial: "footer" %>

<script>
        $('#red').addClass('active');

</script>