
    <style>
    .cuadro{
        width: 100%;
    }
    .encabezado{
        width: 100%;
        background: #675dc5;
        border-bottom: solid  rgb(0,154,222) 10px;
        padding: 50px 10px;
    }
    .tituloencabezado{
        text-align: center;
        color: #fff;
        border-bottom: solid #fff 1px;
        width:50%;
        margin: auto;
        padding: 5px 0;
        text-shadow: 1px 1px 4px black;
    }
    .circulo{
        margin: 0;
        width: 5px;
        height: 5px;
        border: solid #fff 1px;
    }
    .ui.table{
        margin: auto;
        width: 85%;
    }
    .ui.grid>*{
        padding-left: 0;
        padding-right: 0;
    }
    .buscador{
        width: 85%;
        margin: auto;
        padding-top:20px;
        padding-bottom: 10px;
        display: flex;
    }
    .ui.table thead th {
        background-color:#675dc5;
        color: #fff;
        text-align: center;
    }
    .espacio{
        margin-right: 50px
    }
    .botonesnormal{
        display: flex;
    }
    .botonescelular{
        display: none;
    }
    .contetabla{
        width: 85%;
        margin: auto;
    }
    .headtabla{
        display: flex;
    }
    .headtabla > div{
        width: 25%;
        border-left: 1px solid rgba(34,36,38,.1);
    }
    .fila{
        text-align: center;
        background-color:#675dc5;
        color: #fff;
        padding: 10px 20px;
        font-weight:bold;
        font-size: 1em;
    }

    .ui.search .prompt {
        border-radius: 0.3rem;
    }

    i.inverted.bordered.violet.icon, i.inverted.circular.violet.icon
    {
        background-color: #675dc5!important;
        color: #FFF!important;
        cursor: pointer;
    }
    tbody > tr{
        text-align: center;
    }
    td > i{
        color: #675dc5;
        cursor: pointer;
    }
    .tablacelular{
            display: none;
        }
    .tablapc{
        display: block;
        width: 100%;
       }
    @media (max-width: 800px) {
        .buscador{
            display: block;
        }
        #reporte{
            width: 100%;
            margin-bottom: 5px;
        }
        #consultorio{
            width: 100%;
            margin-bottom: 5px;
        }
        #buscador{
            width: 100%;
            margin-bottom: 5px;
        }
        .espacio{
            margin: 0;
        }
        .botonesnormal{
            display: none;
        }
        .botonescelular{
            display: flex;
        }
        .tablacelular{
            display: block;
        }
        .tablapc{
            display: none;
        }

        #el_buscador{
            margin-left: -20px !important;
            left: 0px !important;
            width: 50px !important;
         }
        #el_buscador input{
            width: 140px !important;
        }
    }





    </style>



    <div class="ui container grid segment" style="margin-top: 0;">

        <div class="encabezado">
            <h1 class="tituloencabezado">Reportes</h1>
        </div>

        <div class="buscador">
                                       <div class="field" style="width: 100%; text-align: right" id="el_buscador">
                                                <div class="ui action input">
                                                  <input type="text" placeholder="Seleccionar Día" style="border-radius: 5px; border: 1px solid #675dc5;width: 30.3%;text-align: center;margin-left: 2%;">
                                                  <button class="ui button" ><i class="calendar outline icon" style="color: #675dc5;"></i></button>
                                                  <button class="ui button" style="background-color: #675dc5"><i class="search icon" style="color: white"></i></button>
                                                </div>
                                       </div>



        </div>

        <div class="tablapc">
        <table class="ui selectable celled table" style="margin-bottom: 30px;">
          <thead>
            <tr>
              <th>Nombre del Paciente</th>
              <th>Especialidad</th>
              <th>Agenda</th>
              <th>Asistencia</th>
            </tr>
          </thead>
          <tbody >
            <tr>
              <td>Liz Angelica Vargas Gamba</td>
              <td>S Ocupacional</td>
              <td><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></i></td>
              <td><i class=" bordered inverted violet remove half icon" style="border-radius: 5px; color: #675dc5"></i></td>
            </tr>
            <tr>
              <td>Mary Luz Rojas R.</td>
              <td>M Laboral</td>
              <td><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></i></td>
              <td><i class=" bordered inverted violet checkmark half icon" style="border-radius: 5px; color: #675dc5"></i></td>
            </tr>
            <tr>
              <td>Luz Andres Barrgan</td>
              <td>S Ocupacional</td>
              <td><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></i></td>
              <td><i class=" bordered inverted violet hourglass half icon" style="border-radius: 5px; color: #675dc5"></i></td>
            </tr>
            <tr>
              <td>Andres Alexis Botero</td>
              <td>M Laboral</td>
              <td><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></i></td>
              <td><i class=" bordered inverted violet checkmark half icon" style="border-radius: 5px; color: #675dc5"></i></td>
            </tr>
            <tr>
              <td>Diana Marcela Rojas R.</td>
              <td>M Laboral</td>
              <td><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></i></td>
              <td><i class=" bordered inverted violet remove half icon" style="border-radius: 5px; color: #675dc5"></i></td>
            </tr>
            <tr>
              <td>Liz Angelica Vargas Gamba</td>
              <td>S Ocupacional</td>
              <td><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></i></td>
              <td><i class=" bordered inverted violet hourglass half icon" style="border-radius: 5px; color: #675dc5"></i></td>
            </tr>
            <tr>
              <td>Mary Luz Rojas R.</td>
              <td>S Ocupacional</td>
              <td><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></i></td>
              <td><i class=" bordered inverted violet remove half icon" style="border-radius: 5px; color: #675dc5"></i></td>
            </tr>
            <tr>
              <td>Luz Andres Barrgan</td>
              <td >M Laboral</td>
              <td ><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></i></td>
              <td><i class=" bordered inverted violet checkmark half icon" style="border-radius: 5px; color: #675dc5"></i></td>
            </tr>
            <tr>
              <td>Andres Alexis Botero</td>
              <td >M Laboral</td>
              <td><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></i></td>
              <td><i class=" bordered inverted violet remove half icon" style="border-radius: 5px; color: #675dc5"></i></td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>



    <div class="tablacelular">
        <table class="ui selectable celled table" style="margin-bottom: 30px;">
              <thead>
                <tr>
                  <th>Nombre del Medico</th>
                  <th>Consultorio</th>
                  <th>Horas Habilitadas</th>
                  <th>Horas Efectivas</th>
                  <th>Fecha</th>
                </tr>
              </thead>
            OK:
                          <td>Liz Angelica Vargas Gamba</td>
              <td>S Ocupacional</td>
              <tbody >
                <tr style="text-align: justify;margin-left: 7%">
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Nombre del Paciente:</span> John</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Especialidad:</span>M Laboral</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Agenda:</span><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Asistencia:</span><i class=" bordered inverted violet remove half icon" style="border-radius: 5px; color: #675dc5"></i></td>
                  <td></td>
                </tr>
                <tr style="text-align: justify;margin-left: 7%">
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Nombre del Paciente:</span> John</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Especialidad:</span>M Laboral</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Agenda:</span><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Asistencia:</span><i class=" bordered inverted violet remove half icon" style="border-radius: 5px; color: #675dc5"></i></td>
                  <td></td>                </tr>
                <tr style="text-align: justify;margin-left: 7%">
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Nombre del Paciente:</span> John</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Especialidad:</span>M Laboral</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Agenda:</span><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Asistencia:</span><i class=" bordered inverted violet remove half icon" style="border-radius: 5px; color: #675dc5"></i></td>
                  <td></td>                </tr>
                <tr style="text-align: justify;margin-left: 7%">
                     <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Nombre del Paciente:</span> John</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Especialidad:</span>M Laboral</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Agenda:</span><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Asistencia:</span><i class=" bordered inverted violet remove half icon" style="border-radius: 5px; color: #675dc5"></i></td>
                  <td></td>              </tr>
                <tr style="text-align: justify;margin-left: 7%">
                         <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Nombre del Paciente:</span> John</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Especialidad:</span>M Laboral</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Agenda:</span><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Asistencia:</span><i class=" bordered inverted violet remove half icon" style="border-radius: 5px; color: #675dc5"></i></td>
                  <td></td>               </tr>
                <tr style="text-align: justify;margin-left: 7%">
                   <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Nombre del Paciente:</span> John</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Especialidad:</span>M Laboral</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Agenda:</span><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Asistencia:</span><i class=" bordered inverted violet remove half icon" style="border-radius: 5px; color: #675dc5"></i></td>
                  <td></td>                </tr>
                <tr style="text-align: justify;margin-left: 7%">
                    <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Nombre del Paciente:</span> John</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Especialidad:</span>M Laboral</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Agenda:</span><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Asistencia:</span><i class=" bordered inverted violet remove half icon" style="border-radius: 5px; color: #675dc5"></i></td>
                  <td></td>               </tr>
                <tr style="text-align: justify;margin-left: 7%">
                     <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Nombre del Paciente:</span> John</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Especialidad:</span>M Laboral</td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Agenda:</span><i class=" bordered inverted violet calendar outline half icon" style="border-radius: 5px;"></td>
                  <td style="color: rgba(86, 86, 87, 0.7); font-weight: 100"><span style="color:black;">Asistencia:</span><i class=" bordered inverted violet remove half icon" style="border-radius: 5px; color: #675dc5"></i></td>
                  <td></td>               </tr>
              </tbody>
            </table>
    </div>



    <div class="ui modal" id="crearcalendar">
      <i class="close icon"></i>
      <div class="header" style="background-color: #675dc5; color: #fff;">
        Habilitar Agenda
      </div>
    <div class="ui container grid" style="padding: 30px" >
        <div class="eight wide column doubling" id="imgleft">
            <div class="calendar">
                <div class="ui selection dropdown" style="margin-left: 15px;" >
                  <input type="hidden" name="gender">
                  <i class="dropdown icon"></i>
                  <div class="default  text">Sede</div>
                  <div class="menu">
                    <div class="item" data-value="1">Example</div>
                    <div class="item" data-value="0">Example</div>
                  </div>
                </div>
                <%= image_tag "calendar.png" %>
                
            </div>

        </div>
        <div class="eight wide column doubling" id="textrigth">
            <div class="infoQuienes" id="espacioblanco">
                <h2>Visión</h2>
                <div class="line"></div>
                <div class="circ"></div>
                <p>Para el año 2020 HEALTH CARE & WORK, será una empresa eficiente,
                reconocida en el medio por el compromiso del talento humano, la
                prestación de servicios de medicina laboral y de salud ocupacional de
                reconocida calidad, la diversificación de nuestro portafolio de servicios
                y la incursión efectiva en nuevos mercados; procurando siempre
                implementar de manera eficiente y eficaz el sistema de gestión de
                seguridad y salud en el trabajo, a través del cual se buscara la mejora
                continua, brindando a nuestros clientes un ambiente óptimo de
                bienestar para desarrollar sus labores, creando en ellos, la cultura de la
                prevención el auto cuidado y la promoción de la salud en el ámbito
                laboral.</p>
            </div>


        </div>

    </div>



      <div class="actions">
        <div class="ui black deny button">
          Cancelar
        </div>
        <div class="ui positive right labeled icon button">
          Aceptar
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>



    <div class="ui modal" id="modalcrearmedico">
      <i class="close icon"></i>
      <div class="header"  style="background-color: #675dc5; color: #fff;">
        Crear Medico
      </div>



      <div class="image content">
          <div class="formedico" style="width: 98%; margin: auto ">
              <div class="imgmedico">
                  <div class="editimg" style="width: 34px;margin: auto;">
                     <i class="bordered inverted violet write icon"></i>
                  </div>
                  <img class="ui small circular image" style="margin: auto;border: solid #675dc5 5px;margin-top: -2px;" src="{% static "img/buho.gif" %}">
                  <div class="ui center aligned segment">
                    <button class="ui button " style="background: #675dc5; color: #fff;">Desabilitar Usuario</button>
                  </div>
              </div>
              <h2 class="ui header">INFORMACIÓN</h2>

              <div class="ui tiny form">
                <div class="two fields">
                  <div class="field">
                    <label>Nombre y Apellido</label>
                    <input placeholder=" " type="text">
                  </div>
                  <div class="field">
                    <label>Numero de Identificación</label>
                    <input placeholder=" " type="text">
                  </div>
                </div>
              </div>

              <div class="ui tiny form">
                <div class="two fields">
                    <div class="field">
                       <label>Tipo de Identificación</label>
                       <div class="ui selection dropdown">
                          <input type="hidden" name="gender">
                          <i class="dropdown icon"></i>
                          <div class="default text"> </div>
                          <div class="menu">
                            <div class="item" data-value="1">Cedula</div>
                            <div class="item" data-value="0">Cedula Extranjera</div>
                          </div>
                      </div>
                    </div>
                    <div class="field">
                      <label>Dirección</label>
                      <input placeholder=" " type="text">
                    </div>
                </div>
              </div>


              <div class="ui tiny form">
                <div class="two fields">
                    <div class="field">
                       <label>Tipo de Consulta</label>
                       <div class="ui selection dropdown">
                          <input type="hidden" name="gender">
                          <i class="dropdown icon"></i>
                          <div class="default text"> </div>
                          <div class="menu">
                            <div class="item" data-value="1">Normal</div>
                            <div class="item" data-value="0">Peligro</div>
                          </div>
                      </div>
                    </div>
                    <div class="field">
                       <label>Consultorio</label>
                       <div class="ui selection dropdown">
                          <input type="hidden" name="gender">
                          <i class="dropdown icon"></i>
                          <div class="default text"> </div>
                          <div class="menu">
                            <div class="item" data-value="1">Bogota</div>
                            <div class="item" data-value="0">Medellin</div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>


              <div class="ui tiny form">
                <div class="two fields">
                    <div class="field">
                    <label>Horario Disponible</label>
                    <input placeholder=" " type="text">
                  </div>
                    <div class="field">
                       <label>Tipo de Contrato</label>
                       <div class="ui selection dropdown">
                          <input type="hidden" name="gender">
                          <i class="dropdown icon"></i>
                          <div class="default text"> </div>
                          <div class="menu">
                            <div class="item" data-value="1">Bogota</div>
                            <div class="item" data-value="0">Medellin</div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>

              <div class="ui tiny form">
                <div class="two fields">
                  <div class="field">
                    <label>Email 1</label>
                    <input placeholder=" " type="text">
                  </div>
                  <div class="field">
                    <label>Email 2</label>
                    <input placeholder=" " type="text">
                  </div>
                </div>
              </div>

              <div class="linea" style="width: 40%; border-bottom: solid #675dc5 1px;margin-top: 20px;margin-bottom: 20px;"></div>

              <div class="ui tiny form">
                <div class="two fields">
                  <div class="field">
                    <label>Actividad Economica</label>
                    <input placeholder=" " type="text">
                  </div>
                  <div class="field">
                    <label>Banco</label>
                    <input placeholder=" " type="text">
                  </div>
                </div>
              </div>

              <div class="ui tiny form">
                <div class="two fields">
                  <div class="field">
                    <label>Tipo de Cuenta</label>
                    <input placeholder=" " type="text">
                  </div>
                  <div class="field">
                    <label>Numero de Cuenta</label>
                    <input placeholder=" " type="text">
                  </div>
                </div>
              </div>

              <div class="ui tiny form">
                <div class="two fields">
                  <div class="field">
                    <label>Tarifa</label>
                    <div class="ui selection dropdown">
                          <input type="hidden" name="gender">
                          <i class="dropdown icon"></i>
                          <div class="default text"> </div>
                          <div class="menu">
                            <div class="item" data-value="1">12000</div>
                            <div class="item" data-value="0">12500</div>
                            <div class="item" data-value="0">15000</div>
                            <div class="item" data-value="0">17500</div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="actions">
        <div class="ui black deny button">
          Cancelar
        </div>
        <div class="ui positive right labeled icon button">
          Crear
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>

<%= render partial: "home/footer" %>


    <script>
        $('.calendar').click(function () {
             $('#crearcalendar').modal({inverted: true}).modal('show');
        });

         $('.modalcompartido').click(function () {
             $('#modalcrearmedico').modal({inverted: true}).modal('show');
        });

        $('.ui.dropdown').dropdown();
    </script>




