
    <div class="ui container grid segment" style="margin-top: 0;">

        <div class="encabezado">
            <h1 class="tituloencabezado">Consulta</h1>
        </div>
        <div class="buscador">
            <div class="ui inverted segment" style="background-color: rgba(103, 93, 197, 0.5) ;">


                <div class="image content">
                      <div class="formedico" style="width: 98%; margin: auto; ">
                          <div class="ui tiny form">


                              <div class="ui two column stackable grid">
                            
                            <div class="column">

                                <div style="border-right: solid  #675dc5 4px;" id="el_busca">

                                    <div style="width: 100%">
                                            <h2>Datos Básicos</h2>
                                            <div class="line"></div>
                                            <div class="circ"></div>
                                    </div>


                                    <div class="two fields">

                                              <div class="field">
                                                  <label style="color: white">Nombre</label>
                                                <input placeholder=" " type="text">
                                              </div>

                                              <div class="field">
                                                <label style="color: white">Documento</label>
                                                 <div class=" two fields">
                                                     <div style="width: 70%">
                                                        <input placeholder=" "   >
                                                     </div>
                                                        <div class="ui icon button" style="background-color: white">
                                                          <i class="play icon"></i>
                                                        </div>
                                                     </div>
                                              </div>

                                    </div>

                                    <div class="two fields">

                                              <div class="field">
                                                  <label style="color: white">Apellido</label>
                                                <input placeholder=" " type="text" style="width: 100%">
                                              </div>

                                              <div class="field">
                                                <label style="color: white">Fecha de Nacimiento</label>

                                                      <div class="three fields">
                                                          &nbsp;&nbsp;&nbsp;
                                                        <input placeholder=" " type="text" style="width: 25%" >
                                                          &nbsp;&nbsp;&nbsp;
                                                        <input placeholder=" " type="text" style="width: 25%" >
                                                          &nbsp;&nbsp;&nbsp;
                                                        <input placeholder=" " type="text" style="width: 25%" >
                                                      </div>

                                              </div>

                                    </div>

                                     <div class="one fields">

                                              <div class="field" style="width: 93%">
                                                  <label style="color: white">Dirección</label>
                                                <input placeholder=" " type="text">
                                              </div>

                                    </div>

                                    <div class="two fields">

                                              <div class="field">
                                                  <label style="color: white">Telefono</label>
                                                <input placeholder=" " type="text">
                                              </div>

                                              <div class="field">
                                                <label style="color: white">Celulares</label>
                                                <input placeholder=" " type="text" style="width: 85%">
                                              </div>

                                    </div>
                                </div>
                            </div>


                            <div class="column">

                                    <div style="width: 90%">

                                        <div class="ui two column stackable grid">
                                            <div style="width: 62%" class="column">
                                                <h2>Citas  Programadas</h2>
                                                <div class="line" style="width: 80%" ></div>
                                                <div class="circ"></div>
                                            </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <div style="width: 15%" class="column" id="numeradores">
                                                <div class="ui buttons"  style="width: 10px;" >
                                                  <div class="ui button" style="">1&nbsp;&nbsp;</div>
                                                  <div class="ui button" style="border-right: 1px solid #675dc5;border-left: 1px solid #675dc5; ">2</div>
                                                  <div class="ui button" style="">3&nbsp;&nbsp;</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                   <div class="two fields">
                                       <div> <h3 style="color: #675dc5">Fecha</h3> </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                       <div> <h3>{variable}</h3></div>
                                   </div>
                                   <div class="two fields">
                                       <div> <h3 style="color: #675dc5">Hora</h3> </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                       <div> <h3>{variable}</h3></div>
                                   </div>
                                   <div class="two fields">
                                       <div> <h3 style="color: #675dc5">Lugar</h3> </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                       <div> <h3>{variable}</h3></div>
                                   </div>
                                   <div class="two fields">
                                       <div> <h3 style="color: #675dc5">Especialidad</h3> </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                       <div> <h3>{variable}</h3></div>
                                   </div>
                                   <div class="two fields">
                                       <div> <h3 style="color: #675dc5">Doctora</h3> </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                       <div> <h3>{variable}</h3></div>
                                   </div>
                                    <div class="two fields">
                                       <div> <h3 style="color: #675dc5">Consultorio</h3> </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                       <div> <h3>{variable}</h3></div>
                                   </div>


                                <div class="ui stackable grid"  >
                                        <div class="center aligned two column row" >
                                          <div class="column" >
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                          </div>
                                          <div class="column" >
                                            <div id="tituloContacto" style="border: 1px solid transparent; margin-top: 40px; cursor: pointer">
                                                <h4>Asistencia</h4>
                                            </div>

                                          </div>
                                        </div>
                                </div>

                               </div>

                            </div>




                          </div>

                      </div>







                      </div>
                </div>
            </div>
        </div>
    </div>



<%= render partial: "home/footer" %>

    <script>
        $('.calendar').click(function () {
             $('#crearcalendar').modal({inverted: true}).modal('show');
        });

         $('.modalcompartido').click(function () {
             $('#modalcrearmedico').modal({inverted: true}).modal('show');
        });

        $('.ui.dropdown').dropdown();
    </script>


