


    <div class="ui container grid segment" style="margin-top: 0;">

        <div class="encabezado">
            <h1 class="tituloencabezado">Consulta</h1>
        </div>
        <div class="buscador">

                                <br><br><br><br>


                                       <div class="field" style="width: 100%; text-align: right">
                                                    <div class="ui two column stackable grid" id="seccion_boton">
                                                       <div class="column" ></div>
                                                        <div class="column">
                                                            <div class="ui buttons" >
                                                              <div><h2 style="color: #675dc5">
                                                                  Información Inicial
                                                                  &nbsp;&nbsp;</h2></div>
                                                              <div class="ui button" style="border-left: 1px solid #675dc5; background-color: #675dc5; color: white">1</div>
                                                              <div class="ui button">2</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                       </div>

            <div class="ui inverted segment " style="background-color: rgba(255, 255, 255, 1) ;
            border: 2px solid darkgray;
            -webkit-box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            -moz-box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            ">


                <div class="image content">
                      <div class="formedico" style="width: 98%; margin: auto; ">
                          <div class="ui tiny form">


                              <div class="ui two column stackable grid">

                            
                            <div class="column">

                                <div style="border-right: solid  #675dc5 4px;" id="el_busca">

                                    <div style="width: 100%; color: #675dc5">
                                            <h3 style="font-weight: normal;">Datos Básicos</h3>
                                            <div class="line"></div>
                                            <div class="circ"></div>
                                    </div>


                                    <div class="two fields">

                                              <div class="field">
                                                 <!--<label style="margin-left: 45px" >Hora de Ingreso   7:00 HH</label> -->
                                                  <label style="margin-left: 55px;font-weight: normal;font-weight: normal;" >Fecha de Ingreso</label>
                                                <!--<input placeholder=" " type="text"> -->

                                                   <div class="three fields">
                                                          &nbsp;&nbsp;&nbsp;
                                                        <input style="border-radius: 5px; border: 1px solid #675dc5;text-align: left;margin-left: 2%;" placeholder="Día" type="text" style="width: 25%" >
                                                          &nbsp;&nbsp;&nbsp;
                                                        <input style="border-radius: 5px; border: 1px solid #675dc5;text-align: left;margin-left: 2%;"  placeholder="Mes" type="text" style="width: 25%" >
                                                          &nbsp;&nbsp;&nbsp;
                                                        <input style="border-radius: 5px; border: 1px solid #675dc5;text-align: left;margin-left: 2%;"  placeholder="Año" type="text" style="width: 25%" >
                                                      </div>

                                              </div>

                                              <div class="field">
                                                <label style="margin-left: 60px;font-weight: normal;">Ciudad</label>
                                                 <div class=" two fields">
                                                     <div style="width: 83%">
                                                        <input style="border-radius: 5px; border: 1px solid #675dc5;text-align: left;margin-left: 2%;"  placeholder="Listo" >
                                                     </div>
                                                     </div>
                                              </div>

                                    </div>

                                    <div class="two fields" style="margin-top: -30px">
                                              <div class="field">
                                                  <label></label>
                                                  <h4 style="color: black; font-weight: normal;">Tipo de Examen Ocupacional</h4>
                                              </div>
                                              <div class="field" style="width: 43%">
                                                <label> <br></label>
                                                <select class="ui dropdown">
                                                  <option value="Ingreso">Ingreso</option>
                                                  <option value="Retiro">Retiro</option>
                                                  <option value="Periódico">Periódico</option>
                                                  <option value="Post incapacidad">Post incapacidad</option>
                                                </select>
                                                  <div class="ui selection dropdown" style="min-width: 10% !important; width: 140px;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                                                                  <input type="hidden" name="gender">
                                                                                                  <i class="dropdown icon"></i>
                                                                                                  <div class="default text"> </div>
                                                                                                  <div class="menu">
                                                                                                    <div class="item" data-value="1">Hijo</div>
                                                                                                  </div>
                                                        </div>

                                              </div>
                                    </div>

                                    <br>
                                     <div class="one fields">
                                        <div style="width: 100%; color: #675dc5">
                                                <h3 style="font-weight: normal;">Datos Generales</h3>
                                                <div class="line"></div>
                                                <div class="circ"></div>
                                        </div>

                                    </div>

                                    <div class="two fields" style="margin-top: -40px">
                                              <div class="field">
                                                  <label></label>
                                                  <h4 style="color: black;font-weight: normal;">Nombre de Usuario</h4>
                                              </div>
                                              <div class="field" style="width: 43%">
                                                <label> <br></label>
                                                 <input style="border-radius: 5px; border: 1px solid #675dc5;text-align: left;margin-left: 2%;"  placeholder="Nombre Usuario" type="text" style="width: 100%" >
                                              </div>
                                    </div>

                                    <div class="two fields" style="margin-top: -20px">
                                              <div class="field">
                                                  <label></label>
                                                  <h4 style="color: black;font-weight: normal;">Documento de Indentidad</h4>
                                              </div>
                                              <div class="field" style="width: 43%">
                                                <label> <br></label>
                                               <select class="ui dropdown">
                                                  <option value="CC">Cedula de Ciudadanía</option>
                                                  <option value="CCE">Cedula Extrangería</option>
                                                  <option value="PP">Pasaporte</option>
                                                </select>  
                                                  <div class="ui selection dropdown" style="min-width: 10% !important; width: 140px;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                                                                  <input type="hidden" name="gender">
                                                                                                  <i class="dropdown icon"></i>
                                                                                                  <div class="default text"> </div>
                                                                                                  <div class="menu">
                                                                                                    <div class="item" data-value="1">Hijo</div>
                                                                                                  </div>
                                                        </div>
                                              </div>
                                    </div>

                                    <div class="two fields" style="margin-top: -20px">
                                              <div class="field">
                                                  <label></label>
                                                  <h4 style="color: black;font-weight: normal;">N° de Documento</h4>
                                              </div>


                                                <div class="field" style="width: 43%">
                                                    <br>
                                                       <div class="two fields" style="">
                                                                  <div class="field">
                                                                     <input style="border-radius: 5px; border: 1px solid #675dc5;text-align: left;margin-left: 2%;"  placeholder="Número" type="text" style="width: 150%" id="la_cedula" >
                                                                  </div>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <div  class="two fields" >
                                                                    <h4 style="color: black"> </h4> <input style="border-radius: 5px; border: 1px solid #675dc5;text-align: left;margin-left: 2%;"  placeholder="De" type="text" style="width: 82%" >
                                                                  </div>
                                                        </div>
                                              </div>
                                    </div>



                                </div>
                            </div>



                            <div class="column">

                                    <div style="width: 100%">

                                        <div class="ui two column stackable grid">

                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <div style="width: 20%" class="column">
                                                <div class="ui buttons">
                                                  <div class="ui button">1</div>
                                                  <div class="ui button" style="border-right: 1px solid #675dc5;border-left: 1px solid #675dc5; ">2</div>
                                                  <div class="ui button">3</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                <br><br>
                                   <div class="two fields" style="margin-top: -20px">
                                              <div class="field">
                                                  <label></label>
                                                  <h4 style="color: black;font-weight: normal;">Edad</h4>
                                              </div>
                                              <div class="field" style="width: 43%">
                                                <label> <br></label>
                                                 <input style="border-radius: 5px; border: 1px solid #675dc5;text-align: left;margin-left: 2%;"  placeholder="Edad" type="text" style="width: 100%" >
                                              </div>

                                              <div class="field">
                                                  <label></label>
                                                  <h4 style="color: black;font-weight: normal;">Estado Civil</h4>
                                              </div>
                                              <div class="field" style="width: 90%">
                                                <label> <br></label>
                                               <select class="ui dropdown">
                                                  <option value="2">Soltero(a)</option>
                                                  <option value="3">Casado(a)</option>
                                                  <option value="4">Divorciado(a)</option>
                                                  <option value="5">Union Libre(a)</option>
                                                  <option value="5">Viudo(a)</option>
                                                </select>
                                                  <div class="ui selection dropdown" style="min-width: 10% !important; width: 140px;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                                                                  <input type="hidden" name="gender">
                                                                                                  <i class="dropdown icon"></i>
                                                                                                  <div class="default text"> </div>
                                                                                                  <div class="menu">
                                                                                                    <div class="item" data-value="1">Hijo</div>
                                                                                                  </div>
                                                        </div>
                                              </div>



                                    </div>

                                   <div class="two fields" style="margin-top: -20px">
                                              <div class="field">
                                                  <label></label>
                                                  <h4 style="color: black;font-weight: normal;">Genero</h4>
                                              </div>
                                              <div class="field" style="width: 100%">
                                                <label> <br></label>
<div class="ui selection dropdown" style="min-width: 10% !important; width: 140px;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                                                                  <input type="hidden" name="gender">
                                                                                                  <i class="dropdown icon"></i>
                                                                                                  <div class="default text"> </div>
                                                                                                  <div class="menu">
                                                                                                    <div class="item" data-value="1">Hijo</div>
                                                                                                  </div>
                                                        </div>
                                              </div>
                                    </div>

                                   <div class="two fields" style="margin-top: -20px">
                                              <div class="field">
                                                  <label></label>
                                                  <h4 style="color: black;font-weight: normal;">Fecha de Nacimiento</h4>
                                              </div>
                                              <div class="field" style="width: 100%">
                                                <label> <br></label>
                                                 <input style="border-radius: 5px; border: 1px solid #675dc5;text-align: left;margin-left: 2%;"  placeholder="Fecha de Nacimiento" type="text" style="width: 100%" >
                                              </div>
                                    </div>

                                   <div class="two fields" style="margin-top: -20px">
                                              <div class="field">
                                                  <label></label>
                                                  <h4 style="color: black;font-weight: normal;">Lugar de Nacimiento</h4>
                                              </div>
                                              <div class="field" style="width: 100%">
                                                <label> <br></label>
                                                 <input style="border-radius: 5px; border: 1px solid #675dc5;text-align: left;margin-left: 2%;"  placeholder="Lugar de Nacimiento" type="text" style="width: 100%" >
                                              </div>
                                    </div>

                                   <div class="two fields" style="margin-top: -20px">
                                              <div class="field">
                                                  <label></label>
                                                  <h4 style="color: black;font-weight: normal;">Telefono</h4>
                                              </div>
                                              <div class="field" style="width: 100%">
                                                <label> <br></label>
                                                 <input style="border-radius: 5px; border: 1px solid #675dc5;text-align: left;margin-left: 2%;"  placeholder="Telefono" type="text" style="width: 100%" >
                                              </div>
                                    </div>

                                   <div class="two fields" style="margin-top: -20px">
                                              <div class="field">
                                                  <label></label>
                                                  <h4 style="color: black;font-weight: normal;">Dirección</h4>
                                              </div>
                                              <div class="field" style="width: 100%">
                                                <label> <br></label>
                                                 <input style="border-radius: 5px; border: 1px solid #675dc5;text-align: left;margin-left: 2%;"  placeholder="Dirección" type="text" style="width: 100%" >
                                              </div>
                                    </div>

                                   <div class="two fields" style="margin-top: -20px">
                                              <div class="field">
                                                  <label></label>
                                                  <h4 style="color: black;font-weight: normal;">Barrio</h4>
                                              </div>
                                              <div class="field" style="width: 100%">
                                                <label> <br></label>
                                                 <input style="border-radius: 5px; border: 1px solid #675dc5;text-align: left;margin-left: 2%;"  placeholder="Barrio" type="text" style="width: 100%" >
                                              </div>
                                    </div>

                                   <div class="two fields" style="margin-top: -20px">
                                              <div class="field">
                                                  <label></label>
                                                  <h4 style="color: black;font-weight: normal;">Nivel Educativo</h4>
                                              </div>
                                              <div class="field" style="width: 100%">
                                                <label> <br></label>
                                            <select class="ui dropdown">
                                                  <option value="1">Básica Primaria</option>
                                                  <option value="2">Básica Secundaria</option>
                                                  <option value="3">Media</option>
                                                  <option value="4">Técnico</option>
                                                  <option value="5">Técnologo</option>
                                                  <option value="6">Profesional</option>
                                                  <option value="7">PosGrado</option>
                                                  <option value="8">Ninguno</option>
                                            </select>
                                                  <div class="ui selection dropdown" style="min-width: 10% !important; width: 140px;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                                                                  <input type="hidden" name="gender">
                                                                                                  <i class="dropdown icon"></i>
                                                                                                  <div class="default text"> </div>
                                                                                                  <div class="menu">
                                                                                                    <div class="item" data-value="1">Hijo</div>
                                                                                                  </div>
                                                        </div>
                                          </div>
                                    </div>




                                <div class="ui stackable grid" id="el_boton"  >
                                        <div class="center aligned two column row" >
                                          <div class="column" >
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                          </div>
                                          <div class="column" >
                                            <div id="tituloContacto" style="border: 1px solid transparent; margin-top: 40px; cursor: pointer">
                                                <h4>Siguiente ></h4>
                                            </div>

                                          </div>
                                        </div>
                                </div>

                                <br> <br>
                               </div>

                            </div>




                          </div>

                      </div>

                      </div>

                </div>

                    <br><br><br><br>

            </div>
        </div>
    </div>


<%= render partial: "home/footer" %>


    <script>
        $('.calendar').click(function () {
             $('#crearcalendar').modal({inverted: true}).modal('show');
        });

         $('.modalcompartido').click(function () {
             $('#modalcrearmedico').modal({inverted: true}).modal('show');
        });

        $('.ui.dropdown').dropdown();
    </script>



