  <div class="ui container grid segment" style="margin-top: 0;">

        <div class="encabezado">
            <h1 class="tituloencabezado">Consulta</h1>
        </div>
        <div class="buscador">

                                <br><br><br><br>


                                       <div class="field" style="width: 100%; text-align: right">
                                                <div class="ui buttons">
                                                  <div class="ui button">1</div>
                                                  <div class="ui button" style="border-left: 1px solid #675dc5;">2</div>
                                                </div>
                                       </div>

            <div class="ui inverted segment grid " style="background-color: rgba(255, 255, 255, 1) ;
            border: 2px solid darkgray;
            -webkit-box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            -moz-box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            ">

                <div class="pc">
                    <div style="width: 85%; border: solid ; margin: auto; margin-top: 2%">
                     <div style="width: 50%;">
                              <p>SIGNOS VITALES</p>
                          </div>
                          <div class="field" style="margin-top: 2%;">
                              <div style="width: 18%;display: inline-block;">
                                <label>Tensi贸n Arterial</label>
                                <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;">
                              </div>
                              <div style="width: 23%;display: inline-block;margin-left: 3%;">
                                <label>Frecuencia Cardiaca</label>
                                <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;">
                              </div>
                              <div style="display: inline-block; width: 18%; margin-left: 3.5%;">
                                <input placeholder="peso" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 30.3%;text-align: center;">
                                <label>Kg</label>
                                <input placeholder="Talla" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 30.3%;text-align: center;">
                                <label>Cm</label>
                              </div>
                              <div  style="width: 1%;height:38px;border-right: 1px solid;display: inline-block;margin-left: -1.5%;margin-bottom: -1%;"></div>
                              <input placeholder="indice de masa corporal" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 30.3%;text-align: center;margin-left: 2%;">
                          </div>
                          <div class="field" style="margin-top: 1%;">
                              <div style="width: 18%;display: inline-block;">
                                <label>Frecuencia Respitaoria</label>
                                <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;">
                              </div>
                              <div style="width: 23%;display: inline-block;margin-left: 3%;">
                                <label>Estado general</label>
                                <div class="ui tiny form" style="display: inline-block;width: 100%;">
                                        <div class="two fields" style="margin-top: 2%;">
                                            <div class="field" style="width: 100%;">
                                               <div class="ui selection dropdown" style="min-height: 1% !important; height:38px;border: 1px solid #675dc5;" >
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Normal</div>
                                                  </div>
                                              </div>
                                        </div>
                                        </div>
                                    </div>
                              </div>
                              <div style="width: 50.5%;display: inline-block;margin-left: 3.5%">
                                <label>Lateralidad dominante: disestro</label>
                                <div class="ui tiny form" style="display: inline-block;width: 100%;">
                                        <div class="two fields" style="margin-top: 2%;">
                                            <div class="field" style="width: 100%;">
                                               <div class="ui selection dropdown" style="min-height: 1% !important; height:38px;border: 1px solid #675dc5;" >
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Normal</div>
                                                  </div>
                                              </div>
                                        </div>
                                        </div>
                                    </div>
                              </div>
                          </div>
                          <div class="three column row">
                    <div style="width: 30%; display: inline-block;vertical-align: top;" class="column">

                           <div style="width: 100%; border-bottom: solid #675dc5;font-size: 20px; color: #675dc5;">
                                <p>ORGANOS / SISTEMA</p>
                            </div>
                            <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                                <p style="display: inline-block;font-size: 16px;margin-bottom: -1%;">Craneo</p>
                                <div class="ui tiny form" style="display: inline-block;width: 100%;">
                                        <div class="two fields" style="margin-top: 2%;">
                                            <div class="field" style="width: 90%;">
                                               <div class="ui selection dropdown" style="min-height: 1% !important; height:38px;border: 1px solid #675dc5;" >
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Normal</div>
                                                  </div>
                                              </div>
                                        </div>
                                        </div>
                                    </div>
                            </div>
                            <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                                <p style="display: inline-block;font-size: 16px;">Organo/Sistema</p>
                                <div class="ui tiny form" style="display: inline-block;width: 100%;">
                                        <div class="two fields" style="margin-top: 2%;">
                                            <div class="field" style="width: 90%;">
                                               <div class="ui selection dropdown" style="min-height: 1% !important; height:38px;border: 1px solid #675dc5;" >
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Normal</div>
                                                  </div>
                                              </div>
                                        </div>
                                        </div>
                                    </div>
                            </div>
                            <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                                <p style="display: inline-block;font-size: 16px;">Extremidades</p>
                                <div class="ui tiny form" style="display: inline-block;width: 100%;">
                                        <div class="two fields" style="margin-top: 2%;">
                                            <div class="field" style="width: 90%;">
                                               <div class="ui selection dropdown" style="min-height: 1% !important; height:38px;border: 1px solid #675dc5;" >
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Normal</div>
                                                  </div>
                                              </div>
                                        </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="field" style="margin-top: 2%;">
                                <label style="font-size: 16px;">Sensibilidad</label>
                            </div>
                            <div class="field" style="margin-top: 2%;">
                               <input placeholder="Metodo de planificaci贸n" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 89%;height: 100px;">
                            </div>
                    </div>
                    <div style="width: 30%; display: inline-block;vertical-align: top;" class="column">
                    <%= image_tag "cuerpomorado.jpg", style:"width: 67%;margin-left: 20%;padding-bottom: 10%;" %>
                         
                    </div>
                    <div style="width: 38%; display: inline-block;vertical-align: top;" class="column">
                        <div style="width: 90%; border-bottom: solid #675dc5;font-size: 20px; color: #675dc5;float: right">
                                     <p style="float: right;">EXAMEN OSTEOMUSCULAR</p>
                                </div>
                                <div style="width: 100%;margin-top: 12%;">
                                     <p style="display: inline-block">ALINEACION DE COLUMNA</p>
                                    <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right;"></i>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <label>Vista Lateral</label>
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height:38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">2</div>
                                                  </div>
                                              </div>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <label>Vista P-A</label>
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height:38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">2</div>
                                                  </div>
                                              </div>
                                </div>
                                <div style="width: 100%;margin-top: 2%;">
                                     <p style="display: inline-block">EXAMEN DE COLUMNA</p>
                                    <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right;"></i>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height:38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">2</div>
                                                  </div>
                                              </div>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                    <input placeholder="indice de masa corporal" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: left;height: 40px;">
                                </div>

                              <div style="width: 100%;margin-top: 2%;">
                                     <p style="display: inline-block">Miembros superiores</p>
                                  <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right;"></i>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <label>Vista</label>
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 88%;min-height: 1% !important; height:38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">2</div>
                                                  </div>
                                              </div>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <label>Examen de columna</label>
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height:38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">2</div>
                                                  </div>
                                              </div>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <label>Izquierdo</label><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                              <label>Derecho</label><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                </div>
                                <div class="field" style="margin-top: 6%;">
                                              <label style="display: inline-block">Miembros Inferiores</label>
                                                 <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right;"></i>
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height:38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">2</div>
                                                  </div>
                                              </div>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <label>Izquierdo</label><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                              <label>Derecho</label><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                </div>
                              <div class="field" style="margin-top: 2%;">
                                              <label>Observaciones</label>
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 68%;min-height: 1% !important; height:38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">2</div>
                                                  </div>
                                              </div>
                                </div>
                              <div class="ui blue right labeled icon button" style="float: right; margin-top: 6%;">
                                  EXAMANES ESPECIFICOS
                                  <i class="checkmark icon"></i>
                              </div>
                    </div>
                </div>
            </div>
                </div>

                <div class="movil">
                    <div style="width: 85%; border: solid ; margin: auto; margin-top: 2%">
                     <div style="width: 100%;">
                              <p>SIGNOS VITALES</p>
                          </div>
                          <div class="field" style="margin-top: 2%;">
                              <div style="width: 100%;display: inline-block;">
                                <label>Tensi贸n Arterial</label>
                                <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                              </div>
                              <div style="width: 100%;display: inline-block;margin-top: 2%;">
                                <label>Frecuencia Cardiaca</label>
                                <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                              </div>
                              <div style="display: inline-block; width: 100%;">
                                  <label>Kg</label>
                                <input placeholder="peso" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                                <label>Cm</label>
                                <input placeholder="Talla" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">

                              </div>
                              <div  style="width: 1%;border-right: 1px solid;display: inline-block;margin-left: -1.5%;margin-bottom: -1%;"></div>
                              <input placeholder="indice de masa corporal" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                          </div>
                          <div class="field" style="margin-top: 1%;">
                              <div style="width: 100%;display: inline-block;">
                                <label>Frecuencia Respitaoria</label>
                                <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                              </div>
                              <div style="width: 100%;display: inline-block;margin-top: 2%;">
                                <label>Estado general</label>
                                <div class="ui tiny form" style="display: inline-block;width: 100%;">
                                        <div class="two fields">
                                            <div class="field" style="width: 100%;">
                                               <div class="ui selection dropdown" style="min-height: 1% !important; height:38px;border: 1px solid #675dc5;" >
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Normal</div>
                                                  </div>
                                              </div>
                                        </div>
                                        </div>
                                    </div>
                              </div>
                              <div style="width: 100%;display: inline-block;">
                                <label>Lateralidad dominante: disestro</label>
                                <div class="ui tiny form" style="display: inline-block;width: 100%;">
                                        <div class="two fields" style="margin-top: 2%;">
                                            <div class="field" style="width: 100%;">
                                               <div class="ui selection dropdown" style="min-height: 1% !important; height:38px;border: 1px solid #675dc5;" >
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Normal</div>
                                                  </div>
                                              </div>
                                        </div>
                                        </div>
                                    </div>
                              </div>
                          </div>
                          <div class="three column row">

                           <div style="width: 100%; border-bottom: solid #675dc5;font-size: 20px; color: #675dc5;">
                                <p>ORGANOS / SISTEMA</p>
                            </div>
                            <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                                <p style="display: inline-block;font-size: 16px;margin-bottom: -1%;margin-top: 2%;">Craneo</p>
                                <div class="ui tiny form" style="display: inline-block;width: 100%;">
                                        <div class="two fields">
                                            <div class="field" style="width: 100%;">
                                               <div class="ui selection dropdown" style="min-height: 1% !important; height:38px;border: 1px solid #675dc5;" >
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Normal</div>
                                                  </div>
                                              </div>
                                        </div>
                                        </div>
                                    </div>
                            </div>
                            <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                                <p style="display: inline-block;font-size: 16px;">Organo/Sistema</p>
                                <div class="ui tiny form" style="display: inline-block;width: 100%;">
                                        <div class="two fields">
                                            <div class="field" style="width: 100%;">
                                               <div class="ui selection dropdown" style="min-height: 1% !important; height:38px;border: 1px solid #675dc5;" >
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Normal</div>
                                                  </div>
                                              </div>
                                        </div>
                                        </div>
                                    </div>
                            </div>
                            <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                                <p style="display: inline-block;font-size: 16px;">Extremidades</p>
                                <div class="ui tiny form" style="display: inline-block;width: 100%;">
                                        <div class="two fields" >
                                            <div class="field" style="width: 100%;">
                                               <div class="ui selection dropdown" style="min-height: 1% !important; height:38px;border: 1px solid #675dc5;" >
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Normal</div>
                                                  </div>
                                              </div>
                                        </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="field" style="margin-top: 2%;">
                                <label style="font-size: 16px;">Sensibilidad</label>
                            </div>
                            <div class="field" style="margin-top: 2%;">
                               <input placeholder="Metodo de planificaci贸n" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 100px;">
                            </div>

                        <div style="width: 90%; border-bottom: solid #675dc5;font-size: 20px; color: #675dc5;float: right; margin-top: 2%;">
                                     <p style="float: right;">EXAMEN OSTEOMUSCULAR</p>
                                </div>
                                <div style="width: 100%;margin-top: 12%;">
                                     <p style="display: inline-block">ALINEACION DE COLUMNA</p>
                                    <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right;"></i>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <label>Vista Lateral</label>
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height:38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">2</div>
                                                  </div>
                                              </div>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <label>Vista P-A</label>
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height:38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">2</div>
                                                  </div>
                                              </div>
                                </div>
                                <div style="width: 100%;margin-top: 2%;">
                                     <p style="display: inline-block">EXAMEN DE COLUMNA</p>
                                    <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right;"></i>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height:38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">2</div>
                                                  </div>
                                              </div>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                    <input placeholder="indice de masa corporal" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: left;height: 40px;">
                                </div>

                              <div style="width: 100%;margin-top: 2%;">
                                     <p style="display: inline-block">Miembros superiores</p>
                                  <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right;"></i>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <label>Vista</label>
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height:38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">2</div>
                                                  </div>
                                              </div>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <label>Examen de columna</label>
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height:38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">2</div>
                                                  </div>
                                              </div>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <label>Izquierdo</label><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                              <label>Derecho</label><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                </div>
                                <div class="field" style="margin-top: 6%;">
                                              <label style="display: inline-block">Miembros Inferiores</label>
                                                 <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right;"></i>
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height:38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">2</div>
                                                  </div>
                                              </div>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <label>Izquierdo</label><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                              <label>Derecho</label><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                </div>
                              <div class="field" style="margin-top: 2%;">
                                              <label>Observaciones</label>
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height:38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">2</div>
                                                  </div>
                                              </div>
                                </div>
                              <div class="ui blue right labeled icon button" style="float: right; margin-top: 6%;margin-bottom: 2%;">
                                  EXAMANES ESPECIFICOS
                                  <i class="checkmark icon"></i>
                              </div>

                </div>
            </div>
                </div>


        </div>

    </div>


    <script>
        $('.calendar').click(function () {
             $('#crearcalendar').modal({inverted: true}).modal('show');
        });

         $('.modalcompartido').click(function () {
             $('#modalcrearmedico').modal({inverted: true}).modal('show');
        });

        $('.ui.dropdown').dropdown();
    </script>
