
    <div class="ui container grid segment" style="margin-top: 0;">

        <div class="encabezado">
            <h1 class="tituloencabezado">Consulta</h1>
        </div>
        <div class="buscador">

                                <br><br><br><br>


                                       <div class="field" style="width: 100%; text-align: right">
                                                <div class="ui buttons">
                                                  <div class="ui button">1</div>
                                                  <div class="ui button" style="border-left: 1px solid #675dc5;">2</div>
                                                </div>
                                       </div>

            <div class="ui inverted segment " style="background-color: rgba(255, 255, 255, 1) ;
            
            -webkit-box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            -moz-box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            ">
               <div class="pc">
                <div style="width: 85%; border: solid ; margin: auto; margin-top: 2%">
                              <div class="image content">
                                  <div class="formedico" style="width: 98%; margin: auto;margin-top: 2%">
                                    <div style="width: 48%; border-right: 4px solid #675dc5 ; display: inline-block;margin-right: 3%;">
                                        
                                        <div style="width: 79%">
                                            <p>RIESGO OCUPACIONALES EN EMPRESA ACTUAL Y/O ANTERORES</p>
                                        </div>
                                      <div class="ui tiny form">
                                        <div class="two fields" style="margin-top: 2%;">
                                            <div class="field">
                                               <div class="ui selection dropdown" style="min-height: 1% !important; height: 29px;border: 1px solid #675dc5;" >
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Actuar/Anterior</div>
                                                  </div>
                                              </div>
                                            </div><i class="add square icon" style="color:#675dc5;margin: auto; margin-right: 52px;font-size: 18px;"></i>
                                        </div>
                                      </div>
                                        <div>
                                            <p>Nombre de la empresa en que labora o laboró</p>
                                            <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 91%;">
                                        </div>
                                        <div class="field" style="margin-top: 2%;">
                                          <label>Cargo</label>
                                          <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 30%;">
                                          <label style="margin-left: 4.2%;">Tiempo</label>
                                          <input placeholder=" " type="text"style="border-radius: 5px; border: 1px solid #675dc5;width: 30%;">
                                         </div>
                                        <div class="field" style="margin-top: 2%;">
                                          <label>Físico</label>
                                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 30%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Físico</div>
                                                  </div>
                                              </div>
                                          <label style="margin-left: 4%;">Químico</label>
                                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 28%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Químico</div>
                                                  </div>
                                              </div>
                                         </div>
                                        <div class="field" style="margin-top: 2%;">
                                          <label>Ergonómico</label>
                                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 22%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Ergonómico</div>
                                                  </div>
                                              </div>
                                          <label style="margin-left: 4%;">Seguridad</label>
                                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 23%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Seguridad</div>
                                                  </div>
                                              </div>
                                         </div>
                                        <div class="field" style="margin-top: 2%;">
                                          <label>Piscolaboral</label>
                                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 22%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Si</div>
                                                    <div class="item" data-value="1">NO</div>
                                                  </div>
                                              </div>
                                          <label style="margin-left: 4%;">Biologicos</label>
                                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 22%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Si</div>
                                                    <div class="item" data-value="1">No</div>
                                                  </div>
                                              </div>
                                         </div>

                                        
                                        <div style="margin-top: 5%;">
                                            <div style="width: 50%">
                                                <p>ACCIDENTES DE TRABAJO EN LA EMPRESA ACTUAL O ANTERIORES</p>
                                            </div>
                                            <div>
                                                <p style="display: inline-block; font-size: 14px;">Nombre de la empresa en donde presento accidente</p>
                                                <i class="add square icon" style="color:#675dc5;margin: auto; margin-left: 6%;font-size: 18px;"></i>
                                                <input placeholder=" " type="text"style="border-radius: 5px; border: 1px solid #675dc5;width: 90%;">
                                            </div>

                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Fecha de Evento</label>
                                                      <input placeholder="Mes / Año" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 60.3%;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Naturaleza de la lesión</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 49.3%;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Parte del cuerpo afectada</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 45.3%;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Dias de incapacidad</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 54.7%;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Secuelas</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 74.3%;">
                                            </div>
                                        </div>
                                    </div>

                                      <div style="width: 48%;display: inline-block;vertical-align: top;">
                                            <div style="width: 50%">
                                              <p>ENFERMEDAD PROFESIONAL EN EMPRESA ACTUAL O ANTERIORES</p>
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Cual</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 84%;">
                                                <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;"></i>
                                            </div>

                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Descripción</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 78.3%;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Fecha de diagnostico</label>
                                                      <input placeholder="Dia /Mes / Año" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 62.3%;">
                                            </div>
                                            <div style="width: 66%; margin-top: 5%;">
                                              <p>INFORMACIÓN OCUPACIONAL</p>
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Cargo</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 87%;">
                                            </div>

                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Fecha de Ingreso </label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 57.5%;margin-left: 11%;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Fecha de diagnostico</label>
                                                      <input placeholder="Dia /Mes / Año" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 61.3%;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                              <label>Antigüedad</label>
                                              <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 30%;">
                                              <label style="margin-left: 2.2%;">Años</label>
                                              <input placeholder=" " type="text"style="border-radius: 5px; border: 1px solid #675dc5;width: 34%;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                              <label>Funciones principales</label>
                                                <div class="ui selection dropdown" style="min-width: 10% !important; width: 59.7%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                      <input type="hidden" name="gender">
                                                      <i class="dropdown icon"></i>
                                                      <div class="default text"> </div>
                                                      <div class="menu">
                                                        <div class="item" data-value="1">Ergonómico</div>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Herramientas utilizadas</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 57.2%;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Materia prima utilizada</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 58%;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                              <label>USO DE ELEMENTOS DE PROTECCIÓN PERSONAL EN CARGO ACTUAL O ÚLTIMO:</label>
                                                <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                      <input type="hidden" name="gender">
                                                      <i class="dropdown icon"></i>
                                                      <div class="default text"> </div>
                                                      <div class="menu">
                                                        <div class="item" data-value="1">Ergonómico</div>
                                                      </div>
                                                </div>
                                            </div>
                                          <div class="ui blue right labeled icon button" style="float: right; margin-top: 11%; margin-bottom: 11%;">
                                              Siguiente
                                              <i class="checkmark icon"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                        </div>
               </div>

                <div class="movil">
                    <div style="width: 85%; border: solid ; margin: auto; margin-top: 2%">
                              <div class="image content">
                                  <div class="formedico" style="width: 98%; margin: auto;margin-top: 2%">
                                    <div style="">
                                        
                                        <div style="width: 100%">
                                            <p style="display: inline-block;width: 100%">RIESGO OCUPACIONALES EN EMPRESA ACTUAL Y/O ANTERORES</p>
                                            <p style="display: inline-block; vertical-align: top;">Si</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                            <p style="display: inline-block; vertical-align: top;">No</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                        </div>
                                      <div class="ui tiny form">
                                        <div class="two fields" style="margin-top: 2%;">
                                            <div class="field">
                                               <div class="ui selection dropdown" style="min-height: 1% !important; height: 29px;border: 1px solid #675dc5;" >
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Actuar/Anterior</div>
                                                  </div>
                                              </div>
                                            </div><i class="add square icon" style="color:#675dc5;margin: auto; margin-right: 52px;font-size: 18px;"></i>
                                        </div>
                                      </div>
                                        <div>
                                            <p>Nombre de la empresa en que labora o laboró</p>
                                            <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 100%;height: 29px;">
                                        </div>
                                        <div class="field" style="margin-top: 2%;">
                                          <label>Cargo</label>
                                          <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;">
                                          <label style="margin-top: 2%;">Tiempo</label>
                                          <input placeholder=" " type="text"style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;">
                                         </div>
                                        <div class="field" style="margin-top: 2%;">
                                          <label>Físico</label>
                                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Físico</div>
                                                  </div>
                                              </div>
                                          <label>Químico</label>
                                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Químico</div>
                                                  </div>
                                              </div>
                                         </div>
                                        <div class="field" style="margin-top: 2%;">
                                          <label>Ergonómico</label>
                                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Ergonómico</div>
                                                  </div>
                                              </div>
                                          <label>Seguridad</label>
                                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Seguridad</div>
                                                  </div>
                                              </div>
                                         </div>
                                        <div class="field" style="margin-top: 2%;">
                                          <label>Piscolaboral</label>
                                            <div class="ui selection dropdown" style="min-width: 10% !important; width:100%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Si</div>
                                                    <div class="item" data-value="1">NO</div>
                                                  </div>
                                              </div>
                                          <label>Biologicos</label>
                                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Si</div>
                                                    <div class="item" data-value="1">No</div>
                                                  </div>
                                              </div>
                                         </div>

                                        
                                        <div style="margin-top: 5%;">
                                            <div style="width: 100%">
                                                <p style="display: inline-block; width: 70%;">ACCIDENTES DE TRABAJO EN LA EMPRESA ACTUAL O ANTERIORES</p>
                                                <p style="display: inline-block; vertical-align: top;">Si</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                                <p style="display: inline-block; vertical-align: top;">No</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                            </div>
                                            <div>
                                                <p style="display: inline-block; font-size: 19px;">Nombre de la empresa en donde presento accidente</p>
                                                <i class="add square icon" style="color:#675dc5;margin: auto; margin-left: 6%;font-size: 18px;"></i>
                                                <input placeholder=" " type="text"style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;" >
                                            </div>

                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Fecha de Evento</label>
                                                      <input placeholder="Mes / Año" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;padding-left: 3%;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Naturaleza de la lesión</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Parte del cuerpo afectada</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Dias de incapacidad</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Secuelas</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;">
                                            </div>
                                        </div>
                                    </div>

                                      <div style="margin-top: 4%;">
                                            <div style="width: 100%">
                                              <p style="display: inline-block; width: 70%;">ENFERMEDAD PROFESIONAL EN EMPRESA ACTUAL O ANTERIORES</p>
                                                <p style="display: inline-block; vertical-align: top;">Si</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                                <p style="display: inline-block; vertical-align: top;">No</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Cual</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;">
                                                <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;"></i>
                                            </div>

                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Descripción</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Fecha de diagnostico</label>
                                                      <input placeholder="Dia /Mes / Año" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;padding-left: 3%;">
                                            </div>
                                            <div style="width: 66%; margin-top: 5%;">
                                              <p>INFORMACIÓN OCUPACIONAL</p>
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Cargo</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;">
                                            </div>

                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Fecha de Ingreso </label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Fecha de diagnostico</label>
                                                      <input placeholder="Dia /Mes / Año" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;padding-left: 3%;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                              <label>Antigüedad</label>
                                              <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;">
                                              <label style="margin-left: 2.2%;">Años</label>
                                              <input placeholder=" " type="text"style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                              <label>Funciones principales</label>
                                                <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                      <input type="hidden" name="gender">
                                                      <i class="dropdown icon"></i>
                                                      <div class="default text"> </div>
                                                      <div class="menu">
                                                        <div class="item" data-value="1">Ergonómico</div>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Herramientas utilizadas</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                                      <label>Materia prima utilizada</label>
                                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 29px;">
                                            </div>
                                            <div class="field" style="margin-top: 2%;">
                                              <label>USO DE ELEMENTOS DE PROTECCIÓN PERSONAL EN CARGO ACTUAL O ÚLTIMO:</label>
                                                <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height: 29px;border: 1px solid #675dc5;">
                                                      <input type="hidden" name="gender">
                                                      <i class="dropdown icon"></i>
                                                      <div class="default text"> </div>
                                                      <div class="menu">
                                                        <div class="item" data-value="1">Ergonómico</div>
                                                      </div>
                                                </div>
                                            </div>
                                          <div class="ui blue right labeled icon button" style="float: right; margin-top: 11%; margin-bottom: 11%;">
                                              Siguiente
                                              <i class="checkmark icon"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                        </div>
                </div>
        </div>
    </div>


    <script>
        $('.calendar').click(function () {
             $('#crearcalendar').modal({inverted: true}).modal('show');
        });

         $('.modalcompartido').click(function () {
             $('#modalcrearmedico').modal({inverted: true}).modal('show');
        });

        $('.ui.dropdown').dropdown();
    </script>
