  <div class="ui container grid segment" style="margin-top: 0;">

        <div class="encabezado">
            <h1 class="tituloencabezado">Consulta</h1>
        </div>
        <div class="buscador">

                                <br><br><br><br>


                                       <div class="field" style="width: 100%; text-align: right">
                                                <div class="ui buttons">
                                                  <div class="ui button">1</div>
                                                  <div class="ui button" style="border-left: 1px solid #675dc5;">2</div>
                                                </div>
                                       </div>

            <div class="ui inverted segment " style="background-color: rgba(255, 255, 255, 1) ;
            border: 2px solid darkgray;#}
            -webkit-box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            -moz-box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            ">
                <div class="pc">
                     <div style="width: 85%; border: solid ; margin: auto; margin-top: 2%">
              <div class="image content">
                  <div class="formedico" style="width: 98%; margin: auto;margin-top: 2%">
                    <div style="width: 48%; border-right: 4px solid #675dc5 ; display: inline-block;margin-right: 3%;">



                        <div style="width: 50%;">
                            <p>GINECO-OBSTÉTRICOS</p>
                        </div>
                        <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                            <p style="display: inline-block">Normal / Anormal</p>
                            <div class="ui tiny form" style="display: inline-block;width: 75%;">
                                    <div class="two fields" style="margin-top: 2%;">
                                        <div class="field" style="width: 90%;">
                                           <div class="ui selection dropdown" style="min-height: 1% !important;height: 38px;border: 1px solid #675dc5;" >
                                              <input type="hidden" name="gender">
                                              <i class="dropdown icon"></i>
                                              <div class="default text"> </div>
                                              <div class="menu">
                                                <div class="item" data-value="1">Normal</div>
                                              </div>
                                          </div>
                                    </div>
                                    </div>
                                </div>
                        </div>
                        <div class="field" style="margin-top: 2%;">
                                      <label>Fecha de ultima citologia</label>
                                      <input placeholder="Dia / Mes / Año" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 47.3%;text-align: center;">
                        </div>
                        <div class="field" style="margin-top: 2%;">
                                      <label>Fecha de ultima regla</label>
                                      <input placeholder="Dia / Mes / Año" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 54.3%;text-align: center;">
                        </div>
                        <div style="margin-top: 2%;">
                            <p style="display: inline-block">Seleccione en el cuadro el numero de:</p>
                        </div>
                        <div class="field" style="margin-top: 2%;">
                          <label>Gestaciones</label>
                          <div class="ui selection dropdown" style="min-width: 10% !important; width: 27.7%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                      <input type="hidden" name="gender">
                                      <i class="dropdown icon"></i>
                                      <div class="default text"> </div>
                                      <div class="menu">
                                        <div class="item" data-value="1">2</div>
                                      </div>
                          </div>
                          <label style="margin-left: 4.2%;">Partos</label>
                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 25.7%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                      <input type="hidden" name="gender">
                                      <i class="dropdown icon"></i>
                                      <div class="default text"> </div>
                                      <div class="menu">
                                        <div class="item" data-value="1">2</div>
                                      </div>
                          </div>
                         </div>
                        <div class="field" style="margin-top: 2%;">
                          <label>Abortos</label>
                          <div class="ui selection dropdown" style="min-width: 10% !important; width: 25.7%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                      <input type="hidden" name="gender">
                                      <i class="dropdown icon"></i>
                                      <div class="default text"> </div>
                                      <div class="menu">
                                        <div class="item" data-value="1">2</div>
                                      </div>
                          </div>
                          <label style="margin-left: 4.2%;">Hijos vivos</label>
                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 25.7%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                      <input type="hidden" name="gender">
                                      <i class="dropdown icon"></i>
                                      <div class="default text"> </div>
                                      <div class="menu">
                                        <div class="item" data-value="1">2</div>
                                      </div>
                          </div>
                         </div>
                        <div class="field" style="margin-top: 2%;">
                                      <label>Embarazos ectópicos</label>
                                      <div class="ui selection dropdown" style="min-width: 10% !important; width: 54.7%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                      <input type="hidden" name="gender">
                                      <i class="dropdown icon"></i>
                                      <div class="default text"> </div>
                                      <div class="menu">
                                        <div class="item" data-value="1">2</div>
                                      </div>
                          </div>
                        </div>
                        <div class="field" style="margin-top: 2%;">
                                      <label>Resultados</label>
                                      <input placeholder="" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 72.3%;text-align: center;">
                        </div>
                        <div class="field" style="margin-top: 2%;">
                            <label>Metodo de planificación:</label>
                            <p style="display: inline-block; vertical-align: top;">Si</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                            <p style="display: inline-block; vertical-align: top;">No</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                        </div>
                        <div class="field" style="margin-top: 2%;">
                           <input placeholder="Metodo de planificación" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 92%;height: 100px;">
                        </div>

                       <div class="field" style="margin-top: 2%;">
                                      <label>ESTILO DE VIDA</label>
                       </div>
                       <div class="field" style="margin-top: 2%;">
                                      <label>Cigarrillo / Tabaco</label>
                       </div>
                        <div class="field" style="margin-top: 2%;">
                            <div class="field" style="margin-top: 2%;">
                                          <label>Frecuencia</label>
                                          <div class="ui selection dropdown" style="min-width: 10% !important; width: 71.7%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                              <input type="hidden" name="gender">
                                              <i class="dropdown icon"></i>
                                              <div class="default text"> </div>
                                              <div class="menu">
                                                <div class="item" data-value="1">2</div>
                                              </div>
                                          </div>
                                    </div>
                        </div>
                        <div class="field" style="margin-top: 2%;">
                                      <label>Exconsumidor</label>
                       </div>
                         <div class="field" style="margin-top: 2%;">
                            <div class="field" style="margin-top: 2%;">
                                          <label>Dejo de Fumar</label>
                                          <div class="ui selection dropdown" style="min-width: 10% !important; width: 64.7%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                              <input type="hidden" name="gender">
                                              <i class="dropdown icon"></i>
                                              <div class="default text"> </div>
                                              <div class="menu">
                                                <div class="item" data-value="1">Si</div>
                                                <div class="item" data-value="2">No</div>
                                              </div>
                                          </div>
                            </div>
                        </div>
                    </div>

                      <div style="width: 48%;display: inline-block;vertical-align: top;">
                            <div style="width: 50%;">
                                <p>Licor</p>
                            </div>
                            <div class="field" style="margin-top: 2%;">
                                          <label>Frecuencia</label>
                                          <div class="ui selection dropdown" style="min-width: 10% !important; width: 79.7%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                              <input type="hidden" name="gender">
                                              <i class="dropdown icon"></i>
                                              <div class="default text"> </div>
                                              <div class="menu">
                                                <div class="item" data-value="1">2</div>
                                              </div>
                                          </div>
                                    </div>

                                <div class="field" style="margin-top: 2%;">
                                              <label>Exconsumidor</label>
                               </div>
                                 <div class="field" style="margin-top: 2%;">
                                    <div class="field" style="margin-top: 2%;">
                                                  <label>Lo dejó</label>
                                                  <div class="ui selection dropdown" style="min-width: 10% !important; width: 85.7%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                                      <input type="hidden" name="gender">
                                                      <i class="dropdown icon"></i>
                                                      <div class="default text"> </div>
                                                      <div class="menu">
                                                        <div class="item" data-value="1">Si</div>
                                                        <div class="item" data-value="2">No</div>
                                                      </div>
                                                  </div>
                                    </div>
                                </div>
                                <div style="width: 50%;">
                                    <p>Otras sustancias psicoactivas</p>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                      <label>¿Cual?</label>
                                      <input placeholder="" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 87%;text-align: center;">
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                      <label>Frecuencia</label>
                                      <input placeholder="" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 80%;text-align: center;">
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                      <label>Años de habito</label>
                                      <input placeholder="" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 73%;text-align: center;">
                                </div>
                                <div style="width: 50%;margin-top: 2%;">
                                            <p>Hábitos de ejercicio</p>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                      <label>¿Cual?</label>
                                      <input placeholder="" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 86%;text-align: center;">
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                      <label>Frecuencia</label>
                                      <input placeholder="" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 79%;text-align: center;">
                                </div>
                          <div class="ui blue right labeled icon button" style="float: right; margin-top: 66%; margin-bottom: 11%;">
                              Siguiente
                              <i class="checkmark icon"></i>
                          </div>
                      </div>
                  </div>
              </div>

        </div>
                </div>

                <div class="movil">
                     <div style="width: 85%; border: solid ; margin: auto; margin-top: 2%">
              <div class="image content">
                  <div class="formedico" style="width: 98%; margin: auto;margin-top: 2%">

                        


                        <div style="width: 50%;">
                            <p>GINECO-OBSTÉTRICOS</p>
                        </div>
                        <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                            <p style="display: inline-block;font-size: 16px;">Normal / Anormal</p>
                            <div class="ui tiny form" style="display: inline-block;width: 100%;">
                                    <div class="two fields" style="margin-top: 2%;">
                                        <div class="field" style="width: 100%;">
                                           <div class="ui selection dropdown" style="min-height: 1% !important; height: 38px;border: 1px solid #675dc5;" >
                                              <input type="hidden" name="gender">
                                              <i class="dropdown icon"></i>
                                              <div class="default text"> </div>
                                              <div class="menu">
                                                <div class="item" data-value="1">Normal</div>
                                              </div>
                                          </div>
                                    </div>
                                    </div>
                                </div>
                        </div>
                        <div class="field" style="margin-top: 2%;">
                                      <label>Fecha de ultima citologia</label>
                                      <input placeholder="Dia / Mes / Año" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                        </div>
                        <div class="field" style="margin-top: 2%;">
                                      <label>Fecha de ultima regla</label>
                                      <input placeholder="Dia / Mes / Año" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                        </div>
                        <div style="margin-top: 2%;">
                            <p style="display: inline-block">Seleccione en el cuadro el numero de:</p>
                        </div>
                        <div class="field" style="margin-top: 2%;">
                          <label>Gestaciones</label>
                          <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                      <input type="hidden" name="gender">
                                      <i class="dropdown icon"></i>
                                      <div class="default text"> </div>
                                      <div class="menu">
                                        <div class="item" data-value="1">2</div>
                                      </div>
                          </div>
                          <label style="margin-top: 2%;">Partos</label>
                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height: 38px;border: 1px solid #675dc5;">
                                      <input type="hidden" name="gender">
                                      <i class="dropdown icon"></i>
                                      <div class="default text"> </div>
                                      <div class="menu">
                                        <div class="item" data-value="1">2</div>
                                      </div>
                          </div>
                         </div>
                        <div class="field" style="margin-top: 2%;">
                          <label>Abortos</label>
                          <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height: 38px;border: 1px solid #675dc5;">
                                      <input type="hidden" name="gender">
                                      <i class="dropdown icon"></i>
                                      <div class="default text"> </div>
                                      <div class="menu">
                                        <div class="item" data-value="1">2</div>
                                      </div>
                          </div>
                          <label style="margin-top: 2%;">Hijos vivos</label>
                            <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important; height: 38px;border: 1px solid #675dc5;">
                                      <input type="hidden" name="gender">
                                      <i class="dropdown icon"></i>
                                      <div class="default text"> </div>
                                      <div class="menu">
                                        <div class="item" data-value="1">2</div>
                                      </div>
                          </div>
                         </div>
                        <div class="field" style="margin-top: 2%;">
                                      <label>Embarazos ectópicos</label>
                                      <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                      <input type="hidden" name="gender">
                                      <i class="dropdown icon"></i>
                                      <div class="default text"> </div>
                                      <div class="menu">
                                        <div class="item" data-value="1">2</div>
                                      </div>
                          </div>
                        </div>
                        <div class="field" style="margin-top: 2%;">
                                      <label>Resultados</label>
                                      <input placeholder="" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                        </div>
                        <div class="field" style="margin-top: 2%;">
                            <label style="display: inline-block">Metodo de planificación:</label>
                            <p style="display: inline-block; vertical-align: top;">Si</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                            <p style="display: inline-block; vertical-align: top;">No</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                        </div>
                        <div class="field" style="margin-top: 2%;">
                           <input placeholder="Metodo de planificación" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 100px;height: 38px;">
                        </div>

                       <div class="field" style="margin-top: 2%;">
                                      <label>ESTILO DE VIDA</label>
                       </div>
                       <div class="field" style="margin-top: 2%;">
                                      <label style="display: inline-block">Cigarrillo / Tabaco</label>
                                      <p style="display: inline-block; vertical-align: top;">Si</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                      <p style="display: inline-block; vertical-align: top;">No</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                       </div>
                        <div class="field" style="margin-top: 2%;">
                            <div class="field" style="margin-top: 2%;">
                                          <label>Frecuencia</label>
                                          <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                              <input type="hidden" name="gender">
                                              <i class="dropdown icon"></i>
                                              <div class="default text"> </div>
                                              <div class="menu">
                                                <div class="item" data-value="1">2</div>
                                              </div>
                                          </div>
                                    </div>
                        </div>
                        <div class="field" style="margin-top: 2%;">
                                      <label style="display: inline-block">Exconsumidor</label>
                                      <p style="display: inline-block; vertical-align: top;">Si</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                      <p style="display: inline-block; vertical-align: top;">No</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                       </div>
                         <div class="field" style="margin-top: 2%;">
                            <div class="field" style="margin-top: 2%;">
                                          <label>Dejo de Fumar</label>
                                          <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                              <input type="hidden" name="gender">
                                              <i class="dropdown icon"></i>
                                              <div class="default text"> </div>
                                              <div class="menu">
                                                <div class="item" data-value="1">Si</div>
                                                <div class="item" data-value="2">No</div>
                                              </div>
                                          </div>
                            </div>
                        </div>

                            <div style="width: 50%; margin-top: 2%;">
                                <p style="display: inline-block;mar">Licor</p>
                                <p style="display: inline-block; vertical-align: top;">Si</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                <p style="display: inline-block; vertical-align: top;">No</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                            </div>
                            <div class="field" style="margin-top: 2%;">
                                          <label>Frecuencia</label>
                                          <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                              <input type="hidden" name="gender">
                                              <i class="dropdown icon"></i>
                                              <div class="default text"> </div>
                                              <div class="menu">
                                                <div class="item" data-value="1">2</div>
                                              </div>
                                          </div>
                                    </div>

                                <div class="field" style="margin-top: 2%;">
                                              <label style="display: inline-block">Exconsumidor</label>
                                              <p style="display: inline-block; vertical-align: top;">Si</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                              <p style="display: inline-block; vertical-align: top;">No</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                               </div>
                                 <div class="field" style="margin-top: 2%;">
                                    <div class="field" style="margin-top: 2%;">
                                                  <label>Lo dejó</label>
                                                  <div class="ui selection dropdown" style="min-width: 10% !important; width: 100%;min-height: 1% !important;height: 38px;border: 1px solid #675dc5;">
                                                      <input type="hidden" name="gender">
                                                      <i class="dropdown icon"></i>
                                                      <div class="default text"> </div>
                                                      <div class="menu">
                                                        <div class="item" data-value="1">Si</div>
                                                        <div class="item" data-value="2">No</div>
                                                      </div>
                                                  </div>
                                    </div>
                                </div>
                                <div style="width: 100%;margin-top: 2%;">
                                    <p style="display: inline-block">Otras sustancias psicoactivas</p>
                                    <p style="display: inline-block; vertical-align: top;">Si</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                    <p style="display: inline-block; vertical-align: top;">No</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                      <label>¿Cual?</label>
                                      <input placeholder="" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                      <label>Frecuencia</label>
                                      <input placeholder="" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                      <label>Años de habito</label>
                                      <input placeholder="" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                                </div>
                                <div style="width: 50%;margin-top: 2%;">
                                            <p style="display: inline-block;">Hábitos de ejercicio</p>
                                            <p style="display: inline-block; vertical-align: top;">Si</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                            <p style="display: inline-block; vertical-align: top;">No</p><input type="checkbox" name="example" style="display: inline-block; vertical-align: top;margin-top: 1%;margin-left: 1%;">
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                      <label>¿Cual?</label>
                                      <input placeholder="" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                      <label>Frecuencia</label>
                                      <input placeholder="" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                                </div>
                          <div class="ui blue right labeled icon button" style="float: right; margin-top: 6%; margin-bottom: 11%;">
                              Siguiente
                              <i class="checkmark icon"></i>
                          </div>
                      </div>
                  </div>
              </div>

        </div>
                </div>

        </div>
    </div>


    <script>
        $('.calendar').click(function () {
             $('#crearcalendar').modal({inverted: true}).modal('show');
        });

         $('.modalcompartido').click(function () {
             $('#modalcrearmedico').modal({inverted: true}).modal('show');
        });

        $('.ui.dropdown').dropdown();
    </script>
