
    <div class="ui container grid segment" style="margin-top: 0;">

        <div class="encabezado">
            <h1 class="tituloencabezado">Consulta</h1>
        </div>
        <div class="buscador">

                                <br><br><br><br>

                                       <div class="field" style="width: 100%; text-align: right">
                                                <div class="ui buttons">
                                                  <div class="ui button">1</div>
                                                  <div class="ui button" style="border-left: 1px solid #675dc5;">2</div>
                                                </div>
                                       </div>

            <div class="ui inverted segment " style="background-color: rgba(255, 255, 255, 1) ;
            border: 2px solid darkgray;#}
            -webkit-box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            -moz-box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            box-shadow: -1px 7px 25px 8px rgba(0,0,0,0.08);
            ">
                <div class="pc">
                     <div style="width: 85%; border: solid ; margin: auto; margin-top: 2%">
              <div class="image content">
                  <div class="formedico" style="width: 98%; margin: auto;margin-top: 2%">
                    <div style="width: 48%; border-right: 4px solid #675dc5 ; display: inline-block;margin-right: 3%;">
                        


                        <div style="width: 61%; color:  #675dc5; border-bottom: solid  #675dc5;font-size: 18px;">
                            <p>EXAMENES REALIZADOS</p>
                        </div>
                        <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                            <p style="display: inline-block">EXAMENES COMPLEMENTARIOS</p>
                        </div>
                        <div>
                            <p style="display: inline-block">Nombre Exámen</p>
                            <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right; margin-right: 43px;"></i>
                            <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 90%;">
                        </div>
                        <div class="field" style="margin-top: 2%;">
                                      <label>Fecha</label>
                                      <input placeholder="Dia / Mes / Año" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 78.3%;text-align: center;">
                        </div>
                        <div style="margin-top: 2%;">
                            <p style="display: inline-block">Resultados</p>
                            <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 90%;">
                        </div>
                        <div style="margin-top: 2%;">
                            <p style="display: inline-block">Observaciones</p>
                            <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 90%;height: 100px;">
                        </div>

                        
                        <div style="margin-top: 5%;">
                             <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                              <p style="display: inline-block">INMUNIZACIONES REALIZADAS</p>
                             </div>
                             <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                              <p style="display: inline-block;font-size: 14px;">Esquema completo</p>
                              <input placeholder="Observaciones... " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 90%;font-size: 17px;height: 100px;">
                             </div>

                             <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                                <p style="display: inline-block; font-size: 14px;">Nombre Inmunización</p>
                                 <i class="add square icon" style="color:#675dc5;margin: auto; margin-right: 46px;font-size: 18px;float: right;"></i>
                                 <div class="ui tiny form" style="margin-top: -18px;">
                                    <div class="two fields" style="margin-top: 2%;">
                                        <div class="field" style="width: 90%;">
                                           <div class="ui selection dropdown" style="min-height: 1% !important; height: 38px;border: 1px solid #675dc5;" >
                                              <input type="hidden" name="gender">
                                              <i class="dropdown icon"></i>
                                              <div class="default text"> </div>
                                              <div class="menu">
                                                <div class="item" data-value="1">Actuar/Anterior</div>
                                              </div>
                                          </div>
                                    </div>
                                    </div>
                                </div>
                             </div>
                            <div class="field" style="margin-top: 2%;">
                                      <label>Fecha de ultima dosis</label>
                                      <input placeholder="Dia / Mes / Año" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 51.7%;text-align: center;">
                            </div>
                            <div style="margin-top: 2%;">
                            <p style="display: inline-block">N° Dosis recibidas</p>
                            <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 57%;">
                             </div>
                            <div style="margin-top: 2%;">
                            <p style="display: inline-block">¿Otra?</p>
                             </div>
                            <div style="margin-top: 2%;">
                            <p style="display: inline-block">¿Cual?</p>
                            <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 68%;">
                                <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right; margin-right: 43px;"></i>
                             </div>
                            <div class="field" style="margin-top: 2%;">
                                      <label>Fecha de ultima dosis</label>
                                      <input placeholder="Dia / Mes / Año" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 51.7%;text-align: center;">
                            </div>
                            <div style="margin-top: 2%;">
                            <p style="display: inline-block">N° Dosis recibidas</p>
                            <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 57%;">
                             </div>
                        </div>
                    </div>

                      <div style="width: 48%;display: inline-block;vertical-align: top;">
                            <div style="width: 86%; color:  #675dc5; border-bottom: solid  #675dc5;font-size: 18px;">
                                <p>HISTORIAL CLINICA OCUPACIONAL</p>
                            </div>
                            <div class="field" style="margin-top: 2%;">
                                      <label>ANTECEDENTES FAMILIARES</label>
                            </div>

                            <div class="field" style="margin-top: 2%;">
                                      <label>Parentesco</label>
                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width:63.3%;">
                                      <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right; margin-right: 43px;"></i>
                            </div>
                            <div class="field" style="margin-top: 2%;">
                                      <label>¿Cual?</label>
                                      <div class="ui selection dropdown" style="min-width: 10% !important; width: 69.7%;min-height: 1% !important; height: 38px;border: 1px solid #675dc5;">
                                      <input type="hidden" name="gender">
                                      <i class="dropdown icon"></i>
                                      <div class="default text"> </div>
                                      <div class="menu">
                                        <div class="item" data-value="1">Hijo</div>
                                      </div>
                                </div>
                                <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right; margin-right: 43px;"></i>
                            </div>
                            <div style="width: 63%; margin-top: 5%;">
                              <p>ANTECEDENTES PERSONALES</p>
                            </div>
                            <div class="field" style="margin-top: 2%;">
                                      <label>Patologicos</label>
                            </div>
                            <div class="field" style="margin-top: 2%;">
                                      <label>¿Cual?</label>
                                      <div class="ui selection dropdown" style="min-width: 10% !important; width: 69.7%;min-height: 1% !important; height: 38px;border: 1px solid #675dc5;">
                                      <input type="hidden" name="gender">
                                      <i class="dropdown icon"></i>
                                      <div class="default text"> </div>
                                      <div class="menu">
                                        <div class="item" data-value="1">Hijo</div>
                                      </div>
                                </div>
                                <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right; margin-right: 43px;"></i>
                            </div>
                            <div class="field" style="margin-top: 2%;">
                                      <label>Diagnositico</label>
                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 66.5%;">
                            </div>
                            <div class="field" style="margin-top: 2%;">
                                      <label>Observaciones</label>
                                      <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 63.3%;">
                            </div>
                            <div class="field" style="margin-top: 2%;">
                                      <label>QUIRÚRGICOS:</label>
                            </div>
                              <div class="field" style="margin-top: 2%;">
                                          <label>¿Cual?</label>
                                          <div class="ui selection dropdown" style="min-width: 10% !important; width: 69.7%;min-height: 1% !important; height: 38px;border: 1px solid #675dc5;">
                                          <input type="hidden" name="gender">
                                          <i class="dropdown icon"></i>
                                          <div class="default text"> </div>
                                          <div class="menu">
                                            <div class="item" data-value="1">Hijo</div>
                                          </div>
                                    </div>
                                  <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right; margin-right: 43px;"></i>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                          <label>Diagnositico</label>
                                          <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 66.5%;">
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                          <label>Observaciones</label>
                                          <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 63.3%;">
                                </div>
                              <div class="field" style="margin-top: 2%;">
                                          <label>TRAUMÁTICOS:</label>
                                </div>
                              <div class="field" style="margin-top: 2%;">
                                          <label>¿Cual?</label>
                                          <div class="ui selection dropdown" style="min-width: 10% !important; width: 69.7%;min-height: 1% !important; height: 38px;border: 1px solid #675dc5;">
                                          <input type="hidden" name="gender">
                                          <i class="dropdown icon"></i>
                                          <div class="default text"> </div>
                                          <div class="menu">
                                            <div class="item" data-value="1">Hijo</div>
                                          </div>
                                    </div>
                                  <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right; margin-right: 43px;"></i>
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                          <label>Diagnositico</label>
                                          <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 66.5%;">
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                          <label>Observaciones</label>
                                          <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 78.3%;">
                                </div>
                              <div class="field" style="margin-top: 2%;">
                                          <label>PSIQUIÁTRICOS:</label>
                                </div>
                              <div class="field" style="margin-top: 2%;">
                                          <label>PSIQUIÁTRICOS:</label>
                                </div>
                              <div class="field" style="margin-top: 2%;">
                                          <label>DIGESTIVAS:</label>
                                </div>

                          <div class="ui blue right labeled icon button" style="float: right; margin-top: 33%; margin-bottom: 11%;">
                              Siguiente
                              <i class="checkmark icon"></i>
                          </div>
                      </div>
                  </div>
              </div>

        </div>
                </div>

                <div class="movil">
                     <div style="width: 85%; border: solid ; margin: auto; margin-top: 2%">
                      <div class="image content">
                          <div class="formedico" style="width: 98%; margin: auto;margin-top: 2%">
                                


                                <div style="width: 61%; color:  #675dc5; border-bottom: solid  #675dc5;font-size: 18px;">
                                    <p>EXAMENES REALIZADOS</p>
                                </div>
                                <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                                    <p style="display: inline-block;font-size: 16px;">EXAMENES COMPLEMENTARIOS</p>
p                                </div>
                                <div>
                                    <p style="display: inline-block">Nombre Exámen</p>
                                    <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right; margin-right: 43px;"></i>
                                    <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 100%;height: 38px;">
                                </div>
                                <div class="field" style="margin-top: 2%;">
                                              <label>Fecha</label>
                                              <input placeholder="Dia / Mes / Año" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                                </div>
                                <div style="margin-top: 2%;">
                                    <p style="display: inline-block">Resultados</p>
                                    <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 100%;height: 38px;">
                                </div>
                                <div style="margin-top: 2%;">
                                    <p style="display: inline-block">Observaciones</p>
                                    <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 100%;height: 100px;height: 38px;">
                                </div>

                                
                                <div style="margin-top: 5%;">
                                     <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                                      <p style="display: inline-block; font-size: 16px;">INMUNIZACIONES REALIZADAS</p>
                                     </div>
                                     <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                                      <p style="display: inline-block;font-size: 16px;">Esquema completo</p>
                                      <input placeholder="Observaciones... " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 100%;font-size: 17px;height: 100px;height: 38px;">
                                     </div>

                                     <div style="width: 100%; font-size: 12px; margin-top: 2%;">
                                        <p style="display: inline-block; font-size: 16px;">Nombre Inmunización</p>
                                         <i class="add square icon" style="color:#675dc5;margin: auto; margin-right: 46px;font-size: 18px;float: right;"></i>
                                         <div class="ui tiny form" style="margin-top: -18px;">
                                            <div class="two fields" style="margin-top: 2%;">
                                                <div class="field" style="width: 100%;">
                                                   <div class="ui selection dropdown" style="min-height: 1% !important; height: 38px;border: 1px solid #675dc5;" >
                                                      <input type="hidden" name="gender">
                                                      <i class="dropdown icon"></i>
                                                      <div class="default text"> </div>
                                                      <div class="menu">
                                                        <div class="item" data-value="1">Actuar/Anterior</div>
                                                      </div>
                                                  </div>
                                            </div>
                                            </div>
                                        </div>
                                     </div>
                                    <div class="field" style="margin-top: 2%;">
                                              <label>Fecha de ultima dosis</label>
                                              <input placeholder="Dia / Mes / Año" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                                    </div>
                                    <div style="margin-top: 2%;">
                                    <p style="display: inline-block">N° Dosis recibidas</p>
                                    <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 100%;height: 38px;">
                                     </div>
                                    <div style="margin-top: 2%;">
                                    <p style="display: inline-block">¿Otra?</p>
                                     </div>
                                    <div style="margin-top: 2%;">
                                    <p style="display: inline-block">¿Cual?</p>
                                    <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 91%;height: 38px;">
                                        <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right;"></i>
                                     </div>
                                    <div class="field" style="margin-top: 2%;">
                                              <label>Fecha de ultima dosis</label>
                                              <input placeholder="Dia / Mes / Año" |type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;text-align: center;height: 38px;">
                                    </div>
                                    <div style="margin-top: 2%;">
                                    <p style="display: inline-block">N° Dosis recibidas</p>
                                    <input placeholder=" " type="text" style="border-radius: 5px; border: 1px solid #675dc5; width: 100%;height: 38px;">
                                     </div>
                                </div>

                                    <div style="width: 86%; color:  #675dc5; border-bottom: solid  #675dc5;font-size: 18px;margin-top: 2%;">
                                        <p>HISTORIAL CLINICA OCUPACIONAL</p>
                                    </div>
                                    <div class="field" style="margin-top: 2%;">
                                              <label>ANTECEDENTES FAMILIARES</label>
                                    </div>

                                    <div class="field" style="margin-top: 2%;">
                                              <label>Parentesco</label>
                                              <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width:91%;height: 38px;">
                                              <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right;"></i>
                                    </div>
                                    <div class="field" style="margin-top: 2%;">
                                              <label>¿Cual?</label>
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 91%;min-height: 1% !important; height: 38px;border: 1px solid #675dc5;">
                                              <input type="hidden" name="gender">
                                              <i class="dropdown icon"></i>
                                              <div class="default text"> </div>
                                              <div class="menu">
                                                <div class="item" data-value="1">Hijo</div>
                                              </div>
                                        </div>
                                        <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right;"></i>
                                    </div>
                                    <div style="width: 63%; margin-top: 5%;">
                                      <p>ANTECEDENTES PERSONALES</p>
                                    </div>
                                    <div class="field" style="margin-top: 2%;">
                                              <label>Patologicos</label>
                                    </div>
                                    <div class="field" style="margin-top: 2%;">
                                              <label>¿Cual?</label>
                                              <div class="ui selection dropdown" style="min-width: 10% !important; width: 91%;min-height: 1% !important; height: 38px;border: 1px solid #675dc5;">
                                              <input type="hidden" name="gender">
                                              <i class="dropdown icon"></i>
                                              <div class="default text"> </div>
                                              <div class="menu">
                                                <div class="item" data-value="1">Hijo</div>
                                              </div>
                                        </div>
                                        <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right;"></i>
                                    </div>
                                    <div class="field" style="margin-top: 2%;">
                                              <label>Diagnositico</label>
                                              <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 38px;">
                                    </div>
                                    <div class="field" style="margin-top: 2%;">
                                              <label>Observaciones</label>
                                              <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 38px;">
                                    </div>
                                    <div class="field" style="margin-top: 2%;">
                                              <label>QUIRÚRGICOS:</label>
                                    </div>
                                      <div class="field" style="margin-top: 2%;">
                                                  <label>¿Cual?</label>
                                                  <div class="ui selection dropdown" style="min-width: 10% !important; width: 91%;min-height: 1% !important; height: 38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Hijo</div>
                                                  </div>
                                            </div>
                                          <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right;"></i>
                                        </div>
                                        <div class="field" style="margin-top: 2%;">
                                                  <label>Diagnositico</label>
                                                  <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 38px;">
                                        </div>
                                        <div class="field" style="margin-top: 2%;">
                                                  <label>Observaciones</label>
                                                  <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 38px;">
                                        </div>
                                      <div class="field" style="margin-top: 2%;">
                                                  <label>TRAUMÁTICOS:</label>
                                        </div>
                                      <div class="field" style="margin-top: 2%;">
                                                  <label>¿Cual?</label>
                                                  <div class="ui selection dropdown" style="min-width: 10% !important; width: 91%;min-height: 1% !important; height: 38px;border: 1px solid #675dc5;">
                                                  <input type="hidden" name="gender">
                                                  <i class="dropdown icon"></i>
                                                  <div class="default text"> </div>
                                                  <div class="menu">
                                                    <div class="item" data-value="1">Hijo</div>
                                                  </div>
                                            </div>
                                          <i class="add square icon" style="color:#675dc5;margin: auto;font-size: 18px;float: right;"></i>
                                        </div>
                                        <div class="field" style="margin-top: 2%;">
                                                  <label>Diagnositico</label>
                                                  <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 38px;">
                                        </div>
                                        <div class="field" style="margin-top: 2%;">
                                                  <label>Observaciones</label>
                                                  <input placeholder="" type="text" style="border-radius: 5px; border: 1px solid #675dc5;width: 100%;height: 38px;">
                                        </div>
                                      <div class="field" style="margin-top: 2%;">
                                                  <label>PSIQUIÁTRICOS:</label>
                                        </div>
                                      <div class="field" style="margin-top: 2%;">
                                                  <label>PSIQUIÁTRICOS:</label>
                                        </div>
                                      <div class="field" style="margin-top: 2%;">
                                                  <label>DIGESTIVAS:</label>
                                        </div>

                                  <div class="ui blue right labeled icon button" style="float: right; margin-top: 33%; margin-bottom: 11%;">
                                      Siguiente
                                      <i class="checkmark icon"></i>
                                  </div>
                              </div>
                          </div>
                      </div>

        </div>
                </div>
        </div>
    </div>


    <script>
        $('.calendar').click(function () {
             $('#crearcalendar').modal({inverted: true}).modal('show');
        });

         $('.modalcompartido').click(function () {
             $('#modalcrearmedico').modal({inverted: true}).modal('show');
        });

        $('.ui.dropdown').dropdown();
    </script>
