/*style barra*/


.ui.inverted.segment, .ui.primary.inverted.segment {
    background: transparent;
    color: rgba(255,255,255,.9);
}

.ui.secondary.inverted.pointing.menu .active.item {
    border-color: #685FC8;
    color: #685FC8;
}
.ui.secondary.inverted.menu .active.item {
    color: #685FC8 !important;
}

.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item {
    color: #685FC8 !important;
}

.ui.secondary.inverted.menu .dropdown.item:hover, .ui.secondary.inverted.menu .link.item:hover, .ui.secondary.inverted.menu a.item:hover {
     background: transparent;
     color: #685FC8 !important;
}

.ui.secondary.inverted.pointing.menu {
     border-width: 0px;
     border-color: rgba(34,36,38,.15);
}

.ui.menu {
    font-size: 1.3rem;
}