    <div class="ui modal" id="modaldetalle">
      <i class="close icon"></i>
      <div class="header"  style="background-color: #675dc5; color: #fff;">
        Crear Cliente
      </div>
              <div class="modal-body">
                <p>One fine body…</p>
              </div>
      <div class="actions">
        <div class="ui black deny button">
          Cancelar
        </div>    
      </div>
    </div>
    