<div class="ui modal" id="modaleditcliente">
      <i class="close icon"></i>
      <div class="header"  style="background-color: #675dc5; color: #fff;">
        Editar  Cliente
      </div>
              <div class="modal-body">
                <p>One fine body…</p>
              </div>
      
</div>


    