
    <style>
    .cuadro{
        width: 100%;
    }
    .encabezado{
        width: 100%;
        background: #675dc5;
        border-bottom: solid  rgb(0,154,222) 10px;
        padding: 50px 10px;
    }
    .tituloencabezado{
        text-align: center;
        color: #fff;
        border-bottom: solid #fff 1px;
        width:50%;
        margin: auto;
        padding: 5px 0;
        text-shadow: 1px 1px 4px black;
    }
    .circulo{
        margin: 0;
        width: 5px;
        height: 5px;
        border: solid #fff 1px;
    }
    .ui.table{
        margin: auto;
        width: 85%;
    }
    .ui.grid>*{
        padding-left: 0;
        padding-right: 0;
    }
    .buscador{
        width: 85%;
        margin: auto;
        padding-top:20px;
        padding-bottom: 10px;
        display: flex;
    }
    .ui.table thead th {
        background-color:#675dc5;
        color: #fff;
        text-align: center;
    }
    .espacio{
        margin-right: 50px
    }
    .botonesnormal{
        display: flex;
    }
    .botonescelular{
        display: none;
    }
    .contetabla{
        width: 85%;
        margin: auto;
    }
    .headtabla{
        display: flex;
    }
    .headtabla > div{
        width: 25%;
        border-left: 1px solid rgba(34,36,38,.1);
    }
    .fila{
        text-align: center;
        background-color:#675dc5;
        color: #fff;
        padding: 10px 20px;
        font-weight:bold;
        font-size: 1em;
    }

    .ui.search .prompt {
        border-radius: 0.3rem;
    }

    i.inverted.bordered.violet.icon, i.inverted.circular.violet.icon
    {
        background-color: #675dc5!important;
        color: #FFF!important;
        cursor: pointer;
    }
    tbody > tr{
        text-align: center;
    }
    td > i{
        color: #675dc5;
        cursor: pointer;
    }
    .imgmedico{
        margin-top: 30px;
    }
    #horaocu{
        border-right: solid #675dc5 1px;
        padding-top: 0;
        width: 100%;
    }
    .contgrafica{
        width: 80%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .botones{
        width: 100%;
        margin-top: 2px;
    }
    .generar{
        width: 38%;
        margin: auto;
        margin-bottom: 20px;
    }


    @media (max-width: 800px) {
        .buscador{
            display: block;
        }
        #reporte{
            width: 100%;
            margin-bottom: 5px;
        }
        #consultorio{
            width: 100%;
            margin-bottom: 5px;
        }
        #buscador{
            width: 100%;
            margin-bottom: 5px;
        }
        .espacio{
            margin: 0;
        }
        .botonesnormal{
            display: none;
        }
        .botonescelular{
            display: flex;
        }
        .generar{
            width: 100%;
        }
        .generar > .cent{
            width: 100%;
            margin-bottom: 10px;
        }
    }


    </style>
    
    <div class="ui container grid segment" style="margin-top: 0;">

        <div class="encabezado">
            <h1 class="tituloencabezado">Medico</h1>
        </div>

        <div class="buscador">
            <div class="ui selection dropdown" style="margin-right: 20px;" id="reporte">
              <input type="hidden" name="gender">
              <i class="dropdown icon"></i>
              <div class="default text">Tipo de Reporte</div>
              <div class="menu">
                <div class="item" data-value="1">Example</div>
                <div class="item" data-value="0">Example</div>
              </div>
            </div>
            <div class="ui selection dropdown" style="margin-right: 20px;" id="consultorio">
              <input type="hidden" name="gender">
              <i class="dropdown icon"></i>
              <div class="default text">Consultorio</div>
              <div class="menu">
                <div class="item" data-value="1">Example</div>
                <div class="item" data-value="0">Example</div>
              </div>
            </div>
            <div class="ui search espacio" >
              <div class="ui icon input" id="buscador">
                <input class="prompt" type="text" placeholder="Buscar Perfil..." >
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>

            <div class="botonesnormal" >
                <div class="ui icon modalcompartido " data-tooltip="Crear Medico">
                    <i class="bordered inverted violet plus icon" style="margin-top: 5px;"></i>
                </div>

                <div class="ui icon " data-tooltip="Eliminar" id=" ">
                    <i class="bordered inverted violet remove icon" style="margin-top: 5px;"></i>
                </div>

                <div class="ui icon " data-tooltip="Editar" id=" ">
                    <i class="bordered inverted violet write icon" style="margin-top: 5px;"></i>
                </div>
            </div>

            <div class="botonescelular" >
                <div class="ui icon modalcompartido " data-tooltip="Crear Medico" >
                    <i class="bordered inverted large violet plus icon" style="margin-top: 5px;"></i>
                </div>

                <div class="ui icon " data-tooltip="Eliminar" id=" ">
                    <i class="bordered inverted large violet remove icon" style="margin-top: 5px;"></i>
                </div>

                <div class="ui icon " data-tooltip="Editar" id=" ">
                    <i class="bordered inverted large violet write icon" style="margin-top: 5px;"></i>
                </div>
            </div>
        </div>

        <div class="image content" style="width: 85%;margin: auto;">
           <div class="formedico">
                  <div class="imgmedico">
                  <%= image_tag "buho.gif", style: "margin: auto;border: solid #675dc5 5px;margin-top: -2px;" %>
                  <!--
                      <img class="ui small circular image" style="margin: auto;border: solid #675dc5 5px;margin-top: -2px;" src="{% static "img/buho.gif" %}">-->
                  </div>
             <h2 class="ui center aligned header" style="margin-bottom: 0;">
               Oscar Eduardo Zarta Suarez
             </h2>
             <h4 class="ui center aligned header" style="margin-top: 0;">
               Medico no General
             </h4>
           </div>
        </div>

        <div class="image content" style="width: 100%;margin: auto;">
            <div class="ui container  grid" style="margin: 50px 0px;" >
                <div class="eight wide column doubling" id="horaocu">
                   <h3 class="ui center aligned header">Salud Ocupacional</h3>
                   <h4 class="ui center aligned header">48 Sesiones</h4>
                </div>
                <div class="eight wide column doubling" style="padding-top: 0;">
                   <h3 class="ui center aligned header">Medicina Laboral</h3>
                   <h4 class="ui center aligned header">48 Sesiones</h4>
                </div>
            </div>
        </div>

        <div id="application" class="application"></div>
        <div class="ui raised " style="width: 100%;margin-top: 0; background-color: #887bd2">
            <div class="contgrafica">
                <h1 class="ui center aligned header" style="margin-top: 50px;color: #fff">Rendimiento del Mes</h1>

                <div class="botones">
                    <div class="generar ">
                        <div class="ui black mini button cent" style="background-color: #fff;color: #675dc5;">Generar Cuenta de Cobro</div>
                        <div class="ui black mini button cent" style="background-color: #fff;color: #675dc5;">Descargar Informe</div>
                    </div>
                    <div class="imggrafica">
                    <%= image_tag "dona.png" %>
                        
                    </div>
                </div>
            </div>
            <div class="contgrafica">
                <h1 class="ui center aligned header" style="margin-top: 50px;color: #fff">Rendimiento</h1>

                <div class="botones">
                    <div class="generar ">
                        <div class="ui black mini button cent" style="background-color: #fff;color: #675dc5;">Generar Cuenta de Cobro</div>
                        <div class="ui black mini button cent" style="background-color: #fff;color: #675dc5;">Descargar Informe</div>
                    </div>
                    <div class="imggrafica">
                    <%= image_tag "dona.png" %>
                        
                    </div>
                </div>
            </div>

        </div>

    </div>
