 <div class="tablapc">
        <table class="ui selectable celled table" style="margin-bottom: 30px;">
                   <h1 style="margin-left: 8%;">LISTA DE CITAS GENERADAS</h1>
          <thead>
            <tr>
              <th>Nombre del Medico</th>
              <th>Consultorio</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Asistencia</th>
            </tr>
          </thead>
          <tbody >
            <tr>
              <td>Liz Angelica Vargas Gamba</td>
              <td>Clinica el Chico</td>
              <td>02/10/15</td>
              <td>15:00</td>
              <td><i class="check square icon" style="font-size: 22px;"></i></td>
            </tr>
            <tr>
              <td>Mary Luz Rojas R.</td>
              <td>Clinica el Occidente</td>
              <td>13/10/15</td>
              <td>17:00</td>
              <td><i class="hourglass full icon" style="font-size: 22px;"></i></td>
            </tr>
            <tr>
              <td>Liz Angelica Vargas Gamba</td>
              <td>Clinica el Chico</td>
              <td>02/10/15</td>
              <td>15:00</td>
              <td><i class="bordered inverted large violet remove icon" style="font-size: 11px; border-radius: 4px;"></i></td>
            </tr>
            <tr>
              <td>Mary Luz Rojas R.</td>
              <td>Clinica el Occidente</td>
              <td>13/10/15</td>
              <td>17:00</td>
              <td><i class="check square icon" style="font-size: 22px;"></i></td>
            </tr>
            <tr>
              <td>Mary Luz Rojas R.</td>
              <td>Clinica el Occidente</td>
              <td>13/10/15</td>
              <td>17:00</td>
              <td><i class="hourglass full icon" style="font-size: 22px;"></i></td>
            </tr>
            <tr>
              <td>Liz Angelica Vargas Gamba</td>
              <td>Clinica el Chico</td>
              <td>02/10/15</td>
              <td>15:00</td>
              <td><i class="bordered inverted large violet remove icon" style="font-size: 11px;  border-radius: 4px;"></i></td>
            </tr>
            <tr>
              <td>Mary Luz Rojas R.</td>
              <td>Clinica el Occidente</td>
              <td>13/10/15</td>
              <td>17:00</td>
              <td><i class="check square icon" style="font-size: 22px;"></i></td>
            </tr>
            <tr>
              <td>Liz Angelica Vargas Gamba</td>
              <td>Clinica el Chico</td>
              <td>02/10/15</td>
              <td>15:00</td>
              <td><i class="check square icon" style="font-size: 22px;"></i></td>
            </tr>
            <tr>
              <td>Mary Luz Rojas R.</td>
              <td>Clinica el Occidente</td>
              <td>13/10/15</td>
              <td>17:00</td>
              <td><i class="check square icon" style="font-size: 22px;"></i></td>
            </tr>
          </tbody>
        </table>
        </div>